@media screen and (pointer: fine),screen and (pointer: coarse) and (min-device-width: 601px) {

    .wiki_spoiler_details .spoilers{
        position: relative;
        cursor: pointer;
        margin-bottom: 10px;
    }

    .wiki_spoiler_details .curtain{
        position: absolute;
        top: 0;
        right: 0;
        background: rgba(17,17,17,0.95);
        color: #ffffffa0;
        width: 100%;
        height: 100%;
        display: flex;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
        cursor: pointer;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }

    .wiki_spoiler_details .curtain:hover{
        background: rgba(17,17,17,0.9);
    }

    .wiki_spoiler_details h1,.wiki_spoiler_details h2,.wiki_spoiler_details h3,.wiki_spoiler_details h4{
        padding: 0;
        margin: 0;
        margin-top: 10px;
    }

    .wiki_spoiler_details img{
        width: 100%;
    }

    .wiki_spoiler_details .event_icon{
        max-width: 60px;
        max-height: 60px;
        margin: 5px;
    }

    .wiki_spoiler_details .title{
        padding-top: 10px;
        padding-bottom: 5px;
        font-size: 14px;
    }

    .wiki_spoiler_details .caption{
        color: #ffffffa0;
        font-size: 10px;
    }

    .wiki_spoiler_details .solution{
        text-align: center;
        padding: 20px;
    }

    .wiki_spoiler_details .embed{
        width: 338px;
        height: 190px;
    }
}

@media screen and (pointer: coarse) and (max-device-width: 600px) {

    .wiki_spoiler_details{
        transform: translateZ(0);
        -webkit-transform: translateZ(0);
        will-change: transform;
        font-size: 16px;
        width: 80%;
    }

    .wiki_spoiler_details .spoilers{
        position: relative;
        cursor: pointer;
        margin-bottom: 25px;
        font-size: 20px;
    }

    .wiki_spoiler_details .curtain{
        position: absolute;
        top: 0;
        right: 0;
        background: rgba(17,17,17,1);
        color: #ffffffa0;
        width: 100%;
        height: 100%;
        display: flex;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
        cursor: pointer;
        font-size: 23px;
        transform: translateZ(0);
        -webkit-transform: translateZ(0);
        will-change: transform;
    }

    .wiki_spoiler_details h1,.wiki_spoiler_details h2,.wiki_spoiler_details h3,.wiki_spoiler_details h4{
        padding: 0;
        margin: 0;
        margin-top: 10px;
    }

    .wiki_spoiler_details h3{
        font-size: 30px;
    }

    .wiki_spoiler_details img{
        width: 100%;
    }

    .wiki_spoiler_details .event_icon{
        max-width: 60px;
        max-height: 60px;
        margin: 5px;
    }

    .wiki_spoiler_details .title{
        padding-top: 10px;
        padding-bottom: 15px;
        font-size: 20px;
    }

    .wiki_spoiler_details .caption{
        color: #ffffffa0;
        font-size: 10px;
    }

    .wiki_spoiler_details .solution{
        text-align: center;
        padding: 20px;
    }

    .wiki_spoiler_details .embed{
        width: 554px;
        height: 312px;
    }
}