@font-face {
    font-family: 'ZNPrimary';
    src: url('../../styles-v10/fonts/longcang.ttf');
}

@font-face {
    font-family: 'ZNSecondary';
    src: url('../../styles-v10/fonts/kiwimaru.ttf');
}

/* Desktop Adjustments */
@media screen and (pointer: fine),screen and (pointer: coarse) and (min-device-width: 601px) {

    .data{
        grid-template-columns: 205px auto !important;
    }

    .filter_tool_button{
        font-size: 19px !important;
    }

    .evidence_title, .speed_title, .hunt_sanity_title, .timer_title, .modifier_title{
        font-size: 22px !important;
    }

    .evidence_title, .timer_title{
        padding-top: 3px !important;
    }

    .blood-moon-icon, .forest-minion-icon{
        padding-top: 4px !important;
    }

    .hunt_sanity_title, .speed_title, .modifier_title{
        margin-top: 4px !important;
    }

    .modifier_smudge_title{
        font-size: 14px !important;
    }

    .modifier_volume{
        font-size: 16px !important;
    }

    .ghost_name{
        font-size: 35px !important;
        font-weight: lighter !important;
    }

    #settings_box, #links_box, #data_link_box, #event_box, #wiki_box {
        width: 193px;
    }

    #maps_box{
        min-width: 581px !important;
    }

    #cur_map_label{
        margin-top: 3px !important;
        justify-content: space-evenly !important;
    }

    .reset_note{
        padding-top: 0px !important;
    }

    #reset{
        font-size: 17px !important;
        line-height: 1.1 !important;
    }
}

/* Mobile Adjustments */
@media screen and (pointer: coarse) and (max-device-width: 600px) {

    .ghost_name{
        font-size: 30px !important;
        margin-bottom: 4px !important;
        margin-top: 0px !important
    }

    .evidence_title, .speed_title, .hunt_sanity_title, .timer_title, .modifier_title{
        font-size: 36px !important;
    }

    .speed_title, .hunt_sanity_title, .modifier_title{
        margin-top: -14px !important;
    }

    #reset {
        font-size: 38px !important;
        padding: 0px 10px 10px 10px !important;
    }
}