@media screen and (pointer: fine),screen and (pointer: coarse) and (min-device-width: 601px) {
    #event_title{
        padding: 10px;
        font-size: 18px;
    }

    #event_details{
        padding: 0px 3px 5px 5px;
    }

    #event_details .spoilers{
        position: relative;
        cursor: pointer;
        margin-bottom: 3px;
    }

    #event_details .curtain{
        position: absolute;
        top: 0;
        right: 0;
        background: rgba(17,17,17,0.95);
        color: #ffffffa0;
        width: 100%;
        height: 100%;
        display: flex;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
        cursor: pointer;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }

    #event_details .curtain:hover{
        background: rgba(17,17,17,0.9);
    }

    #event_details h1,#event_details h2,#event_details h3,#event_details h4{
        padding: 0;
        margin: 0;
        margin-top: 10px;
    }

    #event_details img{
        width: 100%;
    }

    #event_details .event_icon{
        max-width: 60px;
        max-height: 60px;
        margin: 5px;
    }

    #event_details .title{
        padding-top: 10px;
        padding-bottom: 5px;
        font-size: 14px;
    }

    #event_details .caption{
        color: #ffffffa0;
        font-size: 10px;
    }

    #event_details .solution{
        text-align: center;
        padding: 20px;
    }
}

@media screen and (pointer: coarse) and (max-device-width: 600px) {
    #event_title{
        padding: 10px;
        font-size: 35px;
    }

    #event_details{
        padding: 0px 15px 10px 15px;
        transform: translateZ(0);
        -webkit-transform: translateZ(0);
        will-change: transform;
    }

    #event_details .spoilers{
        position: relative;
        cursor: pointer;
        margin-bottom: 15px;
        font-size: 20px;
    }

    #event_details .curtain{
        position: absolute;
        top: 0;
        right: 0;
        background: rgba(17,17,17,1);
        color: #ffffffa0;
        width: 100%;
        height: 100%;
        display: flex;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
        cursor: pointer;
        font-size: 23px;
        transform: translateZ(0);
        -webkit-transform: translateZ(0);
        will-change: transform;
    }

    #event_details h1,#event_details h2,#event_details h3,#event_details h4{
        padding: 0;
        margin: 0;
        margin-top: 10px;
    }

    #event_details h3{
        font-size: 30px;
    }

    #event_details img{
        width: 100%;
    }

    #event_details .event_icon{
        max-width: 60px;
        max-height: 60px;
        margin: 5px;
    }

    #event_details .title{
        padding-top: 10px;
        padding-bottom: 15px;
        font-size: 20px;
    }

    #event_details .caption{
        color: #ffffffa0;
        font-size: 10px;
    }

    #event_details .solution{
        text-align: center;
        padding: 20px;
    }
}