@font-face {
    font-family: 'ZNPrimary';
    src: url('../../styles-v10/fonts/october_crow.ttf');
}

@font-face {
    font-family: 'ZNSecondary';
    src: url('../../styles-v10/fonts/caveat.ttf');
}

/* Desktop Adjustments */
@media screen and (pointer: fine),screen and (pointer: coarse) and (min-device-width: 601px) {

    .data{
        grid-template-columns: 220px auto !important;
    }

    .evidence_title, .speed_title, .hunt_sanity_title, .timer_title, .modifier_title{
        font-size: 23px;
    }

    #settings_box, #links_box, #data_link_box, #event_box, #wiki_box {
        width: 209px;
    }

    #maps_box{
        min-width: 597px !important;
    }

    #data_link_tab{
        height: 120px !important;
    }

    #event_tab{
        top: 294px !important;
        height: 105px !important;
    }

    #wiki_tab{
        height: 85px !important;   
        top: 416px !important;
    }

    #maps_tab {
        top: 519px !important;
    }

    #data_login_button, #data_unlink_button{
        font-size: 10px !important;
    }
}

/* Mobile Adjustments */
@media screen and (pointer: coarse) and (max-device-width: 600px) {

    #data_link_tab{
        height: 275px !important;
    }

    #wiki_tab{
        top: 647 !important;
    }

    #maps_tab{
        top: 876 !important;
    }

    #event_tab{
        height: 230 !important;
        top: 1105 !important;
    }
}