@media screen and (max-device-width: 999px) {

    #blackout{
        position: fixed;
        background: rgba(0,0,0,0.9);
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        z-index: 110;
    }

    #settings_box{
        display: none;
    }

    #settings_tab{
        display: none;
    }

    #discord_link_box{
        display: none;
    }

    #discord_link_tab{
        display: none;
    }

    #event_box{
        display: none;
    }

    #event_tab{
        display: none;
    }

    #wiki_box{
        display: none;
    }

    #wiki_tab{
        display: none;
    }

    #maps_box{
        display: none;
    }

    #maps_tab{
        display: none;
    }

    #info_box{
        z-index: 100;
        width: calc(100% - 100px);
        height: calc(100% - 100px);
        background-color: #313248;
        border-radius: 5px;  
        display: flex;
        flex-direction: column;
        position: relative;
        flex-wrap: nowrap;
        align-content: stretch;
        align-items: stretch;
        color: #fff;
        padding: 20px;
        overflow-y: scroll;
        font-size: 12px;
    }

    #info_box .icon{
        position: absolute;
        top: 24px;
        right: 24px;
        width: 40px;
        height:40px;
        -ms-transform: rotate(45deg); /* IE 9 */
        -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
        transform: rotate(45deg);
        cursor: pointer;
    }

    #info_box .icon:before{
        content:"";
        position: absolute;
        width:7px;
        height:28px;
        background-color:#fff;
        left:14px;
        top:4px;
    }

    #info_box .icon:after{
        content:"";
        position: absolute;
        width:28px;
        height:7px;
        background-color:#fff;
        left:4px;
        top:14px;
    }

    #info_box .info_block{
        font-family: 'Courier New', Courier, monospace;
        box-shadow: inset 0 0 10px #161615;
        background: rgba(0,0,0,0.25);
        padding: 10px;
        height: fit-content;
    }

    #info_box .info_block hr{
        width: calc(100% - 10px);
        margin-bottom: 20px;
        margin-top: 20px;
    }

    #info_box .info_text{
        margin-left: 10px;
    }

    #info_box .info_image_text{
        margin-left: 10px;
        display: grid;
        align-content: center;
        grid-template-columns: 140px auto;
        align-items: center;
    }

    .info_image_text img{
        margin-right: 20px;
        max-height: 120px;
        max-width: 120px;
        filter: drop-shadow(5px 5px 5px black);
        position: relative;
        z-index: -1;
    }

    #info_box .copyright_text{
        margin-top: 20px;
        text-align: center;
        align-self: center;
        font-size: 10px;
        width: 100%;
    }

    #info_box .thankyou_text{
        color: #ffffffa0;
        margin-top: 40px;
        text-align: center;
        align-self: center;
        font-size: 9px;
        width: 100%;
    }

    input[type="range"] {
        margin-left: 0;
        -webkit-appearance: none;
        margin: 10px 0px;
    }
    input[type=range]:focus {
        outline: none;
    }
    input[type=range]::-webkit-slider-runnable-track {
        width: 100%;
        height: 10px;
        cursor: pointer;
        animate: 0.2s;
        box-shadow: 0px 0px 0px #000000;
        background: #ffffff60;
        border-radius: 1px;
        border: 0px solid #000000;
    }
    input[type=range]::-webkit-slider-thumb {
        box-shadow: 0px 0px 0px #000000;
        border: 1px solid #ffffff60;
        height: 24px;
        width: 24px;
        border-radius: 12px;
        background: #ccc;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -7px;
    }
    input[type=range]:focus::-webkit-slider-runnable-track {
        background: #ffffff60;
    }
    input[type=range]::-moz-range-track {
        width: 100%;
        height: 10px;
        cursor: pointer;
        animate: 0.2s;
        box-shadow: 0px 0px 0px #000000;
        background: #ffffff60;
        border-radius: 1px;
        border: 0px solid #000000;
    }
    input[type=range]::-moz-range-thumb {
        box-shadow: 0px 0px 0px #000000;
        border: 1px solid #ffffff60;
        height: 18px;
        width: 18px;
        border-radius: 25px;
        background: #ccc;
        cursor: pointer;
    }
    input[type=range]::-ms-track {
        width: 100%;
        height: 10px;
        cursor: pointer;
        animate: 0.2s;
        background: transparent;
        border-color: transparent;
        color: transparent;
    }
    input[type=range]::-ms-fill-lower {
        background: #ffffff60;
        border: 0px solid #000000;
        border-radius: 2px;
        box-shadow: 0px 0px 0px #000000;
    }
    input[type=range]::-ms-fill-upper {
        background: #ffffff60;
        border: 0px solid #000000;
        border-radius: 2px;
        box-shadow: 0px 0px 0px #000000;
    }
    input[type=range]::-ms-thumb {
        margin-top: 1px;
        box-shadow: 0px 0px 0px #000000;
        border: 1px solid #ffffff60;
        height: 18px;
        width: 18px;
        border-radius: 25px;
        background: #ccc;
        cursor: pointer;
    }
    input[type=range]:focus::-ms-fill-lower {
        background: #ffffff60;
    }
    input[type=range]:focus::-ms-fill-upper {
        background: #ffffff60;
    }

    .header{
        grid-column: 1;
        grid-row: 1 / 5;
        background-color: #313248;
        margin: -8px -8px 0 -8px;
        box-shadow: 0px 10px 10px #000;
        z-index: 1;
    }
    
    .footer{
        grid-column: 1;
        grid-row: 6 / 8;
        background-color: #313248;
        margin: 0px -8px -8px -8px;
        box-shadow: 0px -10px 10px #000;
        z-index: 1;
    }

    .data{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: min-content min-content min-content min-content auto 40px 50px;
    }

    .evidence_title{
        grid-column: 1;
        grid-row: 1;
        font-size: 50px;
        z-index: 2;
    }

    .num_evidence{
        border: none;
        color: #FFF;
        background: rgba(0,0,0,0.25);
        box-shadow: inset 0 0 10px #161615;
        height: 56px;
        font-size: 50px;
        padding: 2px 10px;
        margin: 10px;
        font-family: 'October Crow';
    }

    #game_mode{
        grid-column: 1;
        grid-row: 2;
        font-size: 60px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 4;
        box-shadow: inset 0 0 10px #161615;
        background: rgba(0,0,0,0.90);
        position: relative;
        letter-spacing: 3px;
    }

    #game_mode span{
        font-size:40px;
    }

    .evidence{
        grid-column: 1;
        grid-row: 2;
        font-size: 30px;
        text-align: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: flex-start;
        align-items: center;
        z-index: 2;
        box-shadow: inset 0 0 10px #161615;
        background: rgba(0,0,0,0.25);
        margin-bottom: 10px;
    }

    .speed_title{
        grid-column: 1;
        grid-row: 3;
        font-size: 50px;
        z-index: 2;
    }

    .speed{
        grid-column: 1;
        grid-row: 3;
        margin-left: 125px;
        font-size: 30px;
        text-align: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: space-evenly;
        align-items: center;
        z-index: 2;
        box-shadow: inset 0 0 10px #161615;
        background: rgba(0,0,0,0.25);
        margin-bottom: 10px;
    }

    .modifier_title{
        grid-column: 1;
        grid-row: 4;
        font-size: 50px;
        z-index: 2;
    }

    .modifier{
        grid-column: 1;
        grid-row: 4;
        font-size: 30px;
        text-align: center;
        display: grid;
        grid-template-columns: 25% 75%;
        grid-template-rows: 40px 30px 40px 60px;
        z-index: 2;
        box-shadow: inset 0 0 10px #161615;
        background: rgba(0,0,0,0.25);
        align-items: center;
        margin-left: 125px;
        margin-bottom: 10px;
    }

    .modifier hr{
        display: none;
    }

    .modifier_ghost_speed{
        font-size: 35px;
        padding: 40px 10px 0px 10px;
        grid-column: 1;
        grid-row: 1;
    }

    .modifier_smudge_timer{
        font-size: 35px;
        padding: 40px 10px 0px 10px;
        grid-column: 1;
        grid-row: 3;
    }

    #ghost_modifier_speed{
        grid-column: 2;
        grid-row: 1;
        margin-right: 20px;
        background: none;
    }

    .modifier_ghost_speed_labels{
        grid-column: 2;
        grid-row: 2;
        display: flex;
        justify-content: space-between;
        width: 97%;
        padding-top: 2px;
        margin-right: 20px;
    }

    .modifier_ghost_speed_label{
        color: #fff;
        font-size: 25px;
        rotate: 340deg;
    }

    .modifier_sound_select{
        display: none;
    }

    .modifier_note{
        display: none;
    }

    .modifier_note_2{
        display: none;
    }

    .play_button {
        filter: invert(1);
        opacity: 1;
        cursor: pointer;
        position: relative;
        width: 55px;
        float: left;
        z-index: 5;
    }
      
    .play_button:hover {
        opacity: 0.5;
    }

    #time_left{
        color: #fff;
        width: calc(100% - 18px);
        font-size: 25px;
        text-align: end;
        position: relative;
        grid-column: 2;
        grid-row: 4;
    }

    #progress {
        width: calc(100% - 90px);
        position: relative;
        grid-column: 2;
        grid-row: 4;
    }

    #progressBar {
        width: calc(100% - 70px);
        margin: 20px 0px;
        height: 15px;
        box-shadow: inset 0 0 10px #161615;
        background: rgba(0,0,0,0.25);
        display: inline-block;
        position: relative;
    }
      
    #progressBar .bar {
        height: 15px;
        text-align: right;
        line-height: 15px;
        width: 0;
        background-color: #ffffff60;
        box-sizing: border-box;
        position: absolute;
        float: left;
    }

    #progressBar .demon_line {
        height: 25px;
        border-left: 5px #fff dotted;
        left: 66.666%;
        width: 0;
        top: -10px;
        position: absolute;
        float: left;
    }

    #progressBar .ghost_line {
        height: 35px;
        border-left: 5px #fff solid;
        left: 50%;
        width: 0;
        top: -10px;
        position: absolute;
        float: left;
    }

    #progressBar .spirit_line {
        height: 25px;
        border-left: 5px #fff dotted;
        width: 0;
        top: -10px;
        position: absolute;
        float: left;
    }

    .line_labels{
        display: block;
        height: 6px;
        margin: 0px 10px 0px 55px;
        text-align: left;
        position: relative;
        grid-column: 2;
        grid-row: 3;
    }

    .spirit_line_label{
        color: rgb(145, 145, 145);
        font-size: 22px;
        display: inline-block;
        left: 5px;
        bottom: -12px;
        position: absolute;
    }

    .demon_line_label{
        color: rgb(145, 145, 145);
        font-size: 22px;
        display: inline-block;
        left: 55.666%;
        bottom: -12px;
        position: absolute;
    }

    #tap,#tap_viz{
        display: none;
    }

    .modifier_volume{
        font-size: 33px;
        padding: 40px 10px 0px 10px;
        grid-column: 1;
        grid-row: 5;
    }

    #modifier_volume{
        grid-column: 2;
        grid-row: 5;
        margin-right: 20px;
    }

    .modifier_volume_labels{
        grid-column: 2;
        grid-row: 6;
        display: flex;
        justify-content: space-between;
        width: 97%;
        padding-top: 2px;
        margin-right: 20px;
    }

    .modifier_volume_label{
        color: #fff;
        font-size: 22px;
        rotate: 340deg;
    }

    .modifier_bpm_finder{
        display: none;
    }

    .cards{
        grid-column: 1;
        grid-row: 5;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        overflow-y: scroll;
        align-content: flex-start;
        user-select: none;
        background: rgba(0,0,0,0.5);
        padding-bottom: 30px;
    }

    .copyright{
        grid-column: 1;
        grid-row: 7;
        text-align: center;
        z-index: 2;
        color: #FFF;
        font-size: 19px;
        padding-right: 10px;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
    }

    .copyright img{
        height: 30px;
        filter: invert(1);
        padding: 0px 10px;
    }

    .copyright:hover{
        filter: opacity(0.5)
    }

    .active_title,.info_title{
        font-size: 50px;
        height: 50px;
        padding: 15px;
    }

    .hover_zoom{
        display: none;
    }

    #active-users{
        grid-column: 1;
        grid-row: 6;
        text-align: center;
        z-index: 2;
        font-size: 18px;
        padding-top: 15px;
        z-index:50;
    }

    #active-users-label{
        cursor: pointer;
        color: #0abdce;
    }

    #active-users-label:hover{
        color: #c9870c;
    }

    #current-version-label{
        color: #0abdce;
    }
    
    #session{
        color: rgb(26, 26, 26);
        font-size: 8px;
        padding-top: 20px;
        text-align: center;
        align-self: center;
        width: 100%;
    }

    #reset{
        grid-column: 1;
        grid-row: 6 / 8;
        width: 150px;
        justify-self: right;
        font-size: 45px;
        color: #ccc;
        border: 2px solid #ccc;
        background: none;
        border-radius: 5px;
        padding: 10px;
        margin: 5px;
        cursor: pointer;
        z-index: 100;
    }

    #world{
        position: absolute;
        z-index: 100;
        width: calc(100% - 100px);
        height: calc(100% - 100px);
        top:50px;
        left:50px;
        background-color: #313248;
        border-radius: 5px;
        box-shadow: 0 0 50px 50px #000;
    }

    #world .icon{
        position: absolute;
        top: 24px;
        right: 24px;
        width: 40px;
        height:40px;
        -ms-transform: rotate(45deg); /* IE 9 */
        -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
        transform: rotate(45deg);
        cursor: pointer;
    }

    #world .icon:before{
        content:"";
        position: absolute;
        width:7px;
        height:28px;
        background-color:#fff;
        left:14px;
        top:4px;
    }

    #world .icon:after{
        content:"";
        position: absolute;
        width:28px;
        height:7px;
        background-color:#fff;
        left:4px;
        top:14px;
    }

    #world .icon:before:hover{
        background-color: #313248;
    }

    #world .icon:after:hover{
        background-color: #313248;
    }

    #globe{
        width: calc(100% - 100px);
        height: calc(100% - 135px);
        margin: 0px 50px 50px 50px;
        box-shadow: inset 0 0 200px 200px #000000;
        background: rgba(0,0,0,0.25);
        background-image: url(https://zero-network.net/phasmophobia/static/imgs/globe-background.jpg);
        background-size: cover;
        border-radius: 5px;
    }

    .ghost_card{
        display: grid;
        width: calc(100% - 50px);
        border-radius: 5px;
        grid-template-columns: 145px 140px 145px auto auto auto 70px;
        grid-template-rows: 70px 50px 70px;
        color: white;
        background-color: #313248;
        margin-top: 20px;
        height: 190px;
        overflow: hidden;
        position: relative;
    }

    .ghost_name{
        grid-column: 1 / 4;
        grid-row: 1;
        font-family:"October Crow";
        font-size: 40px;
        font-weight: bold;
        padding:10px;
        text-align: center;
        letter-spacing: 4px;
    }

    .ghost_evidence{
        grid-column: 1 / 4;
        grid-row: 2;
        font-size: 24px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ghost_evidence_item{
        height: fit-content;
        padding: 2px 4px;
        margin: 6px;
    }

    .ghost_evidence_item img{
        display: none;
    }

    .ghost_nightmare_evidence{
        display: none;
    }

    .ghost_hunt_info{
        grid-column: 1 / 4;
        grid-row: 3;
        display: grid;
        grid-template-columns: 28% 72%;
        justify-content: space-evenly;
    }
    
    .ghost_speed{
        font-size: 22px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 25px;
        margin: 8px 8px 8px 0px;
        border-radius: 0px 10px 10px 0px;
        background: rgb(0,0,0,0.25);
    }

    .ghost_speed img{
        height: 35px;
        filter: invert(1);
    }

    .ghost_speed .ms{
        font-size: 20px;
        color: #ffffff60;
        margin-left: -3px;
    }

    .ghost_speed_values{
        width: fit-content;
    }

    .ghost_hunt{
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 25px;
        border-radius: 10px 0px 0px 10px;
        margin: 8px 0px 8px 8px;
    }

    .ghost_hunt img{
        height: 35px;
        padding-right: 5px;
    }

    .ghost_behavior{
        grid-column: 4 / 8;
        grid-row: 1 / 4;
        font-size: 18px;
        padding:10px 20px;
        margin-left: 2px;
        margin-right: 70px;
        box-shadow: inset 0 0 10px #161615;
        border-radius: 10px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-start;
        overflow-y: scroll;
        background: rgba(0,0,0,0.25);
        margin-top: 8px;
        margin-bottom: 8px;
    }
    
    .ghost_behavior_item{
        line-height: 32px;
        font-size: 24px;
    }

    .ghost_behavior_item .dtitle{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-content: center;
        color: rgba(255 255 255 / 50%);
        justify-content: space-between;
        font-size: 10px;
        padding-top: 0;
    }

    .ghost_behavior_item .ddash{
        border-bottom: 1px dashed rgb(255 255 255 / 50%);
        flex-grow: 1;
        margin-bottom: 8px;
        margin-left: 5px;
    }

    .ghost_behavior_item ul{
        margin: 0px;
        padding: 0px 0px 0px 10px;
        list-style-type: '- ';
    }

    .ghost_behavior_item li{
        padding: 0px;
    }

    .ghost_clear{
        grid-column: 7;
        grid-row: 1 / 4;
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: flex-end;
        padding-right: 18px;
        flex-direction: column;
    }
    
    .ghost_clear .icon{
        display:inline-block;
        width: 35px;
        height:35px;
        -ms-transform: rotate(45deg); /* IE 9 */
        -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
        transform: rotate(45deg);
        cursor: pointer;
    }
    
    .ghost_clear .icon:before{
        content:"";
        position: absolute;
        width:6px;
        height:30px;
        background-color:rgb(29, 29, 29);
        left:16px;
        top:4px;
    }
    
    .ghost_clear .icon:after{
        content:"";
        position: absolute;
        width:30px;
        height:6px;
        background-color:rgb(29, 29, 29);
        left:4px;
        top:16px;
    }
    
    .ghost_clear .check{
        display:inline-block;
        width: 35px;
        height:35px;
        -ms-transform: rotate(45deg); /* IE 9 */
        -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
        transform: rotate(45deg);
        cursor: pointer;
    }
    
    .ghost_clear .check:before{
        content:"";
        position: absolute;
        width:6px;
        height:25px;
        background-color:rgb(29, 29, 29);
        left:20px;
        top:5px;
    }
    
    .ghost_clear .check:after{
        content:"";
        position: absolute;
        width:16px;
        height:6px;
        background-color:rgb(29, 29, 29);
        left:10px;
        top:24px;
    }

    .space{
        height:40px;
    }
}

@media screen and (max-device-width: 999px) {
    .tricheck{
        border: 0;
        width: 33.3%;
        background:none;
        position: relative;
        margin: 10px 0px;
        cursor: pointer;
        font-size: 40px;
        font-family: "Yahfie";
        display: grid;
        justify-content: start;
        letter-spacing: 3px;
        align-items: center;
    }

    #checkbox{
        grid-column: 1;
        width: 45px;
        height: 45px;
        cursor: pointer;
        margin-right: 10px;
        border-radius: 10px;
        border: solid 2px #ccc;
        display: flex;
        align-content: center;
        justify-content: center;
    }

    .neutral{}

    .neutral:hover{
        background-color: #ffffff60;
    }

    .block{
        cursor: not-allowed !important;
    }

    .disabled, .disabled:hover{
        background-color: #ffffff14;
        border: solid 2px #ffffff00 !important;
    }

    .disabled .icon{
        background: #4c4e74;
        border-radius: 3px;
        width: 30px;
        height: 20px;
        top: 20px;
        left: 16px;
        position: absolute;
    }
    
    .disabled .icon:before {
        content: "";
        display: block;
        position: absolute;
        border:2px solid #4c4e74;
        top: -13px;
        left: 3px;
        width: 20px;
        height: 11px;
        border-radius: 35px 35px 0 0;
    }

    .disabled-text{
        color: #4c4e74;
    }

    .good{
        background-color: #ccc;
        border-color: #1d8100 !important;
    }

    .good .icon{
        display:inline-block;
        width: 35px;
        height:35px;
        -ms-transform: rotate(45deg); /* IE 9 */
        -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
        transform: rotate(45deg);
    }

    .good .icon:before{
        content:"";
        position: absolute;
        width:7px;
        height:30px;
        background-color: #313248;
        left:20px;
        top:4px;
    }

    .good .icon:after{
        content:"";
        position: absolute;
        width:14px;
        height:7px;
        background-color: #313248;
        left:10px;
        top:26px;
    }

    .bad{
        background-color: #ccc;
        border-color: #e90000 !important;
    }

    .bad .icon{
        display:inline-block;
        width: 35px;
        height:35px;
        -ms-transform: rotate(45deg); /* IE 9 */
        -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
        transform: rotate(45deg);
    }

    .bad .icon:before{
        content:"";
        position: absolute;
        width:6px;
        height:35px;
        background-color:#313248;
        left:18px;
        top:3px;
    }

    .bad .icon:after{
        content:"";
        position: absolute;
        width:35px;
        height:6px;
        background-color:#313248;
        left:4px;
        top:17px;
    }
}