@media screen and (pointer: fine),screen and (pointer: coarse) and (min-device-width: 601px) {
    #discord_avatar{
        width: 64px;
        margin: 10px;
    }

    .avatar{
        height: 64px;
        border-radius: 32px;
        border: solid white 1px;
    }

    #discord_link_date{
        font-size: 10px;
        color: #ffffffa0;
        margin-top: 2px;
    }

    .discord_note{
        color: #FFF;
        font-size: 10px;
        padding-top: 10px;
        margin: 0px 10px;
        width: calc(100% - 20px);
    }

    .discord-entry{
        padding: 0px 5px;
    }

    .grey{
        color: #ffffffa0 !important;
    }

    #discord_link{
        text-decoration: none;
        cursor: pointer;
    }

    #discord_login_button{
        background-color: #5865F2;
        color: white;
        text-decoration: none;
        padding: 10px;
        border-radius: 5px;
        margin: 10px 5px 0px 5px;
        display: inline-flex;
        cursor: pointer;
    }

    #discord_login_button:hover{
        background-color: #303785;
    }

    #discord_unlink_button{
        background-color: #475566;
        color: white;
        text-decoration: none;
        padding: 10px;
        border-radius: 5px;
        margin: 10px 5px 0px 5px;
        display: inline-flex;
        cursor: pointer;
    }

    #discord_unlink_button:hover{
        background-color: #363c44;
    }

    #discord_instructions{
        margin: 0px 10px;
        width: calc(100% - 20px);
        padding-top: 10px;
        font-size: 10px;
    }

    #discord_instructions ul{
        padding: 0px;
    }

    #discord_instructions ul li{
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        font-size: 10px;
    }

    #discord_instructions ul li img{
        width:19px;
        background-image: radial-gradient(#939393, transparent 75%);
        padding: 2px;
        margin-right: 5px;
    }

    .discord_instructions_title{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        font-size: 10px;
    }

    .discord_instructions_text{
        margin-left: 28px;
    }

    #phasmo-stats{
        background-color: #5865F2;
        color: white;
        text-decoration: none;
        padding: 10px;
        border-radius: 5px;
        margin: 0px 5px 10px 5px;
        display: inline-flex;
        cursor: pointer;
        float: right;
    }

    #phasmo-stats:hover{
        background-color: #303785;
    }
}

@media screen and (pointer: coarse) and (max-device-width: 600px) {
    #discord_avatar{
        width: 200px;
        margin: 16px;
    }

    #discord_name{
        width: 100%;
        text-align: center;
    }

    .avatar{
        height: 200px;
        border-radius: 100px;
        border: solid white 2px;
    }

    #discord_link_date{
        font-size: 20px;
        color: #ffffffa0;
        margin-top: 2px;
    }

    .discord_note{
        color: #FFF;
        font-size: 16px;
        padding-top: 30px;
        width: 75%;
    }

    .discord-entry{
        padding: 0px 15px;
    }

    .discord-num{
        font-size: 36px;
    }

    .grey{
        color: #ffffffa0 !important;
    }

    #discord_link{
        text-decoration: none;
        cursor: pointer;
    }

    #discord_login_button{
        background-color: #5865F2;
        color: white;
        text-decoration: none;
        padding: 30px;
        border-radius: 5px;
        margin: 10px 5px 0px 5px;
        display: inline-flex;
        cursor: pointer;
        font-size: 45px;
    }

    #discord_login_button:hover{
        background-color: #303785;
    }

    #discord_unlink_button{
        background-color: #475566;
        color: white;
        text-decoration: none;
        padding: 30px;
        border-radius: 5px;
        margin: 10px 5px 0px 5px;
        display: inline-flex;
        cursor: pointer;
        font-size: 45px;
    }

    #discord_unlink_button:hover{
        background-color: #363c44;
    }

    #discord_instructions{
        width: 75%;
        padding-top: 30px;
        font-size: 16px;
    }

    #discord_instructions ul{
        padding: 0px;
    }

    #discord_instructions ul li{
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        font-size: 24px;
    }

    #discord_instructions ul li img{
        width: 60px;
        background-image: radial-gradient(#939393, transparent 75%);
        padding: 2px;
        margin-right: 20px;
    }

    .discord_instructions_title{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        font-size: 35px;
    }

    .discord_instructions_text{
        margin-left: 100px;
    }

    #phasmo-stats{
        background-color: #5865F2;
        color: white;
        text-decoration: none;
        padding: 20px;
        border-radius: 5px;
        margin: 0px 10px 30px 10px;
        display: inline-flex;
        cursor: pointer;
        float: right;
        font-size: 40px;
    }

    #phasmo-stats:hover{
        background-color: #303785;
    }
}