.partner_block{
    margin: 10px;
    padding: 15px;
    border: 0.5px solid #ccc;
    border-radius: 10px;
    background: linear-gradient(#ffffff40,#ffffff00);
}

.live{
    border: 2px solid red !important;
    background: linear-gradient(#99000040,#ffffff00) !important;
}

.partner_info{
    display:flex;
    align-items: center;
    justify-content: flex-start;
}

.partner_img{
    border-radius: 50%;
    border: 1px solid white;
    width: 40px;
    height: 40px;
}

.partner_name{
    font-size: 24px;
    font-weight: bolder;
    padding-left: 10px;
}

.partner_main_link{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 10px 5px;
    padding: 10px 5px;
    border-top: 1px solid #ffffff77;
    border-bottom: 1px solid #ffffff77;
}

.partner_main_link_img{
    width: 50px;
    height: 50px;
}

.partner_main_link_info{
    display: flex;
    align-items: center;
}

.partner_main_link_game{
    display: flex;
    align-items: flex-start;
}

.partner_desc{
    font-size: 12px;
    padding-left: 10px;
}

.partner_block a{
    text-decoration: none;
    color: #fff;
}

.partner_main_link_link{
    transition: transform 0.2s ease-in-out;
    font-size: 16px;
    text-decoration: none;
    float: right;
    color: #ccc;
    padding-top: 10px;
}

.partner_main_link_link:hover{
    transform: translateX(4px);
}

.partner_links{
    display: flex;
    justify-content: space-evenly;
}

.partner_link{
    width: 26px;
    opacity: 0.7;
    transition: all 0.2s ease-in-out;
}

.partner_link:hover{
    transform: scale(1.1);
    opacity: 1;
}

.partner-live{
    border-color: #f00 !important;
}

.partner_cur_game_img{
    width: 80px;
}

.partner_cur_playing{
    font-size: 11px;
    color:#ffffff77;
}

.partner_cur_game{
    font-size: 20px;
    padding: 2px 0px;
}

.partner_stream_desc{
    font-size: 11px;
    opacity: 0.8;
}

#drops_info_block{
    min-height: 350px;
    align-items: center !important;
}

.drop_block{
    margin: 10px;
    padding: 5px 15px;
    border: 0.5px solid #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(#ffffff40,#ffffff00);
    opacity: 0.7;
}

.drop_live{
    opacity: 1 !important;
    background: linear-gradient(#8956fbb8,#ffffff00) !important;
    border: 0.5px solid #8956fb !important;
}

.drop_live_dates{
    font-weight: bolder;
}

.drop_live_dates span{
    opacity: 0.5;
    font-weight: normal !important;
}

.drop_title{
    font-size: 20px;
    margin-bottom: 5px;
}

.drop_image{
    max-height: 165px;
    max-width: 295px;
}

.drop_desc{
    font-size: 12px;
    padding: 5px;
}

.drop_dates{
    border-top: 1px solid #ffffff77;
    font-size: 16px;
    padding: 5px;
    margin-top: 5px;
    width: 100%;
    text-align: center;
}

.drop_soon{
    font-size: 14px;
    width: calc(100% - 40px);
    padding: 10px;
    border-bottom: 1px solid #ffffff77;
    color: #ffffff77;
    text-align: center;
}