.non-definitive{
    color: rgba(204,204,204,0.8);
}

.focus-flash{
    animation-name: yellow-flash;
    animation-duration: 0.5s;
    animation-iteration-count: 3;
    animation-fill-mode: forwards;
}

.img_center{
    width: 100%;
    display: flex;
    justify-content: center;
}

.wiki-limg-text{
    width: 100%;
    display: flex;
    justify-content: left;
    padding: 10px 0px;
}

.wiki-link{
    cursor: pointer;
    color: #dbd993;
}

.wiki-link:hover{
    color: #ffff00;
}


@keyframes yellow-flash {
    0% {
        box-shadow: inset 0 0 10px #161615;
    }
    50% {
        box-shadow: inset 0 0 10px #ffff00;
    }
    100% {
        box-shadow: inset 0 0 10px #161615;
    }
}

@media screen and (pointer: fine),screen and (pointer: coarse) and (min-device-width: 601px) {


    .wiki-green{
        display: table-row;
    }

    .wiki-green:before{
        content: "+";
        color: #00ff00;
        text-shadow: 0 0 white;
        display: table-cell;
        text-align: center;
        width: 15px;
    }

    .wiki-red{
        display: table-row;
    }

    .wiki-red:before{
        content: "-";
        color: #ff0000;
        text-shadow: 0 0 white;
        display: table-cell;
        text-align: center;
        width: 15px;
    }

    .wiki-flex{
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
    }

    .wiki-img-block{
        display: inline; 
        padding: 5px; 
        width: calc(25% - 10px);
        height: 125px;
        text-align: center;
    }

    .accordian-icon{
        width: 35px !important;
        height: 35px;
        margin: -5px 5px -6px 0px;
    }

    .wiki_title{
        padding: 10px;
        font-size: 18px;
        cursor: pointer;
        border-bottom: 1px dashed rgba(204, 204, 204, 0.26);
        width: calc(100% - 20px);
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    .wiki_title:hover, .wiki_active{
        background-color: rgba(255,255,255,0.2);
    }

    .wiki_title:after {
        content: '\02795';
        font-size: 10px;
    }

    .wiki_active:after {
        content: "\2796";
    }

    .wiki_subtitle{
        display: flex;
    }

    .wiki_crumb{
        color:rgba(204, 204, 204, 0.26);
        margin-left: -13px;
        padding-right: 5px;
    }

    .wiki_details{
        padding: 0px 5px 5px 5px;
        width: calc(100% - 10px);
        overflow: hidden;
        display: none;
        box-shadow: inset 0 0 10px #161615;
    }

    .wiki_details ul{
        margin: 4px 0px;
        padding: 0px 0px 0px 20px;
    }

    .wiki_details li{
        margin: 5px 0px;
        padding: 3px;
    }

    .wiki_details_note{
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width: 100%;
        text-align: center;
        border-top: 1px solid rgba(204, 204, 204, 0.26);
        padding-top: 5px;
        font-size: 12px;
    }

    .wiki_details_note i{
        padding-top: 5px;
    }

    .wiki_details_note a:link{
        color: #ffff00;
    }
    
    .wiki_details_note a:visited{
        color: #ffff00;
    }
    
    .wiki_details_note a:hover{
        color: #ff9100;
    }
    
    .wiki_details_note a:active{
        color: #00ff00;
    }

    .wiki_embed{
        width: 316px;
        height: 178px;
        padding-top: 5px;
    }

    .wiki-share{
        cursor: pointer;
        opacity: 0.5;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 12px;
        font-size: 12px;
        font-weight: 100;
    }

    .wiki-share:hover{
        opacity: 1.0;
    }

    .wiki-share img{
        height: 24px;
        width: 24px !important;
        padding-left: 5px;
    }

    .wiki-warn{
        width: 24px !important;
        margin-right: auto;
        margin-left: 5px;
    }

    .wiki-disclaimer{
        padding-top: 10px;
        padding-bottom: 5px;
        padding-right: 10px;
        font-size: 14px;
        font-weight: 300;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .wiki-disclaimer img{
        width: 24px !important;
        margin: 0px 5px;
    }

    .wiki_mark_ghost{
        text-align: right;
        font-weight: 400;
        cursor: pointer;
    }

    .wiki_mark_ghost:hover{
        font-weight: 500;
    }

    .flicker-img{
        max-width: 50px;
    }

    .event_details .curtain:hover{
        background: rgba(17,17,17,0.9);
    }

    .wiki_details h1,.wiki_details h2,.wiki_details h3,.wiki_details h4{
        padding: 0;
        margin: 0;
        margin-top: 10px;
    }

    .wiki_details img{
        width: 100%;
    }

    .wiki_details .event_icon{
        max-width: 60px;
        max-height: 60px;
        margin: 5px;
    }

    .wiki_details .text{
        padding-top: 10px;
        padding-bottom: 5px;
        padding-right: 10px;
        font-size: 14px;
        font-weight: 300;
    }

    .wiki_details .text .header{
        display: block;
        margin-bottom: 3px;
    }

    .wiki_details .text .i-header{
        display: block;
        margin-top: 10px;
    }

    .pad-left{
        padding-left: 10px;
    }

    .wiki_details .caption{
        color: #ffffffa0;
        font-size: 10px;
    }

    .wiki_details table{
        width: calc(100% - 10px) !important;
        font-size: 14px;
        min-width: 0px !important;
        display: table;
        border-collapse: collapse;
        margin: 10px 0px 20px 0px;
    }

    .wiki_details table td, .wiki_details table th{
        padding: 3px 2px;
    }

    .wiki_details table tbody td {
        color: #E6E6E6;
        font-size: 12px;
        text-align: center;
    }

    .wiki_details table tr:nth-child(even) {
        background: rgba(0,0,0,0.1);
    }

    .wiki_details table tr:nth-child(odd) {
        background: rgba(255,255,255,0.1);
    }

    .wiki_details table tr:last-child {
        border-bottom: 3px solid rgba(255,255,255,0.2);
    }
    
    .wiki_details table thead {
        background: rgba(255,255,255,0.2);
        border-bottom: 3px solid rgba(255,255,255,0.2);
        font-size: 13px;
    }

    .wiki_details table th:first-child {
        border-left: none;
    }

    .wiki_details table thead th {
        font-weight: bold;
        color: #E6E6E6;
        text-align: center;
        border-left: 2px solid #313248;
    }

    .row_select{
        background-color: #4b4a32 !important;
    }

    .row_select:nth-child(even){
        background-color: #636243 !important;
    }

    .square {
        width: 10px;
        height: 10px;
        display: inline-block;
        border: 1px solid white;
        border-radius: 10%;
        margin-right: 4px;
    }

    .green {
        background-color: green;
    }

    .red {
        background-color: red;
    } 

    .smaller-text {
        font-size: 90%;
    }

    #hunts_tab_footstep{
        background-image: url(../imgs/footsteps.png);
        filter: invert(1);
        opacity: 0.5;
        width: 20px;
        height: 20px;
        background-size: cover;
        position: absolute;
        bottom: 10px;
        left: 60px;
    }

    #hunts_tab_indent_footstep{
        background-image: url(../imgs/footsteps.png);
        filter: invert(1);
        opacity: 0.5;
        width: 20px;
        height: 20px;
        background-size: cover;
        position: absolute;
        bottom: 10px;
        left: 230px;
    }

    .tarot-img {
        width: 90px !important;
        cursor: zoom-in;
    }

    #map-explorer{
        background-color: #ccc;
        color: black;
        text-decoration: none;
        padding: 10px;
        border-radius: 5px;
        margin: 0px 5px 10px 5px;
        display: inline-flex;
        cursor: pointer;
        float: right;
    }

    #map-explorer:hover{
        background-color: rgb(128,128,128);
    }
}

@media screen and (pointer: coarse) and (max-device-width: 600px) {


    .wiki-green{
        display: table-row;
        font-size: 30px;
    }

    .wiki-green:before{
        content: "+";
        color: #00ff00;
        text-shadow: 0 0 white;
        display: table-cell;
        text-align: center;
        width: 30px;
        font-size: 30px;
    }

    .wiki-red{
        display: table-row;
        font-size: 30px;
    }

    .wiki-red:before{
        content: "-";
        color: #ff0000;
        text-shadow: 0 0 white;
        display: table-cell;
        text-align: center;
        width: 30px;
        font-size: 30px;
    }

    .wiki-flex{
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
    }

    .wiki-img-block{
        display: inline; 
        padding: 10px; 
        width: calc(25% - 20px);
        height: 230px;
        text-align: center;
    }

    .accordian-icon{
        width: 75px !important;
        height: 75px;
        margin: -8px 10px -7px 0px;
    }

    .wiki_title{
        padding: 20px 10px;
        font-size: 45px;
        cursor: pointer;
        border-bottom: 1px dashed rgba(204, 204, 204, 0.26);
        width: calc(100% - 20px);
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    .wiki_title:hover, .wiki_active{
        background-color: rgba(255,255,255,0.2);
    }

    .wiki_title:after {
        content: '\02795';
        font-size: 30px;
    }

    .wiki_active:after {
        content: "\2796";
    }

    .wiki_subtitle{
        display: flex;
    }

    .wiki_crumb{
        color:rgba(204, 204, 204, 0.26);
        margin-left: -15px;
        padding-right: 10px;
    }

    .wiki_details{
        padding: 0px 15px 15px 15px;
        width: calc(100% - 10px);
        overflow: hidden;
        display: none;
        box-shadow: inset 0 0 10px #161615;
        transition: max-height 0.2s ease-out;
    }

    .wiki_details ul{
        margin: 4px 0px 40px 0px;
        padding: 0px 10px 0px 50px;
    }

    .wiki_details li{
        margin: 5px 0px;
        padding: 10px;
    }

    .flicker-img{
        max-width: 100px;
    }

    #flicker-ghost-name{
        font-size: 30px;
    }

    .event_details .curtain:hover{
        background: rgba(17,17,17,0.9);
    }

    .wiki_details h1,.wiki_details h2,.wiki_details h3,.wiki_details h4{
        padding: 0;
        margin: 0;
        margin-top: 10px;
    }

    .wiki_details h3{
        font-size: 30px;
    }

    .wiki_details h4{
        font-size: 25px;
    }

    .wiki_details img{
        width: 100%;
    }

    .wiki_details .event_icon{
        max-width: 60px;
        max-height: 60px;
        margin: 5px;
    }

    .wiki_details .text{
        padding: 10px 20px;
        font-size: 16px;
        font-weight: 300;
    }

    .wiki_details .text .header{
        display: block;
        margin-bottom: 6px;
    }

    .wiki_details .text .i-header{
        display: block;
        margin-top: 20px;
    }

    .pad-left{
        padding-left: 20px;
        font-size: 30px;
        flex: 1;
    }

    .wiki_details .caption{
        color: #ffffffa0;
        font-size: 10px;
    }

    .wiki_details table{
        width: calc(100% - 10px) !important;
        font-size: 18px;
        min-width: 0px !important;
        display: table;
        border-collapse: collapse;
        margin: 10px 0px 20px 0px;
    }

    .wiki_details table td, .wiki_details table th{
        padding: 3px 2px;
    }

    .wiki_details table tbody td {
        color: #E6E6E6;
        font-size: 30px;
        text-align: center;
    }

    .wiki_details table tr:nth-child(even) {
        background: rgba(0,0,0,0.1);
    }

    .wiki_details table tr:nth-child(odd) {
        background: rgba(255,255,255,0.1);
    }

    .wiki_details table tr:last-child {
        border-bottom: 3px solid rgba(255,255,255,0.2);
    }
    
    .wiki_details table thead {
        background: rgba(255,255,255,0.2);
        border-bottom: 3px solid rgba(255,255,255,0.2);
        font-size: 30px;
    }

    .wiki_details table th:first-child {
        border-left: none;
    }

    .wiki_details table thead th {
        font-weight: bold;
        color: #E6E6E6;
        text-align: center;
        border-left: 2px solid #313248;
    }

    .wiki_details_note{
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width: 100%;
        text-align: center;
        border-top: 1px solid rgba(204, 204, 204, 0.26);
        padding-top: 5px;
        font-size: 22px;
    }

    .wiki_details_note i{
        padding-top: 15px;
        font-size: 30;
    }

    .wiki_details_note a:link{
        color: #ffff00;
    }
    
    .wiki_details_note a:visited{
        color: #ffff00;
    }
    
    .wiki_details_note a:hover{
        color: #ff9100;
    }
    
    .wiki_details_note a:active{
        color: #00ff00;
    }

    .wiki_embed{
        width: 820px;
        height: 461px;
        padding-top: 20px;
    }

    .wiki-share{
        cursor: pointer;
        opacity: 0.5;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 12px;
        margin-right: 30px;
        font-size: 33px;
        font-weight: 100;
    }

    .wiki-share:hover{
        opacity: 1.0;
    }

    .wiki-share img{
        height: 50px;
        width: 50px !important;
        padding-left: 5px;
    }

    .wiki-warn{
        width: 50px !important;
        margin-right: auto;
        margin-left: 10px;
    }

    .wiki-disclaimer{
        padding-top: 25px;
        padding-bottom: 5px;
        padding-right: 10px;
        font-size: 33px;
        font-weight: 300;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .wiki-disclaimer img{
        width: 50px !important;
        margin: 0px 20px;
    }

    .wiki_mark_ghost{
        text-align: right;
        font-weight: 400;
        cursor: pointer;
    }

    .wiki_mark_ghost:hover{
        font-weight: 500;
    }

    .row_select{
        background-color: #4b4a32 !important;
    }

    .row_select:nth-child(even){
        background-color: #636243 !important;
    }

    .square {
        width: 10px;
        height: 10px;
        display: inline-block;
        border: 1px solid white;
        border-radius: 10%;
        margin-right: 4px;
    }

    .green {
        background-color: green;
    }

    .red {
        background-color: red;
    } 

    .smaller-text {
        font-size: 90%;
    }

    #hunts_tab_footstep{
        background-image: url(../imgs/footsteps.png);
        filter: invert(1);
        opacity: 0.5;
        width: 50px;
        height: 50px;
        background-size: cover;
        position: absolute;
        bottom: 20px;
        left: 140px;
    }

    #hunts_tab_indent_footstep{
        background-image: url(../imgs/footsteps.png);
        filter: invert(1);
        opacity: 0.5;
        width: 50px;
        height: 50px;
        background-size: cover;
        position: absolute;
        bottom: 20px;
        left: 565px;
    }

    .tarot-img {
        width: 200px !important;
        cursor: zoom-in;
    }

    #map-explorer{
        background-color: #ccc;
        color: black;
        text-decoration: none;
        padding: 20px;
        border-radius: 5px;
        margin: 0px 5px 10px 5px;
        display: inline-flex;
        cursor: pointer;
        float: right;
        font-size: 30px;
    }

    #map-explorer:hover{
        background-color: rgb(128,128,128);
    }
}