@font-face {
    font-family: 'ZNPrimary';
    src: url('../../styles-v10/fonts/zaychik.ttf');
}

@font-face {
    font-family: 'ZNSecondary';
    src: url('../../styles-v10/fonts/troubleside.ttf');
}

/* Desktop Adjustments */
@media screen and (pointer: fine),screen and (pointer: coarse) and (min-device-width: 601px) {

    .filter_tool_button, .tricheck, .label-font-s, .modifier_smudge_timer, .modifier_ghost_speed{
        font-size: 12px !important;
    }

    #tap, #resetMenu button, #reset, #calibrate-button, .settings_title, #game_mode span{
        font-size: 14px !important;
    }

    #news-box .info_block, #z3d-box .info_block, #partner-box .info_block{
        margin-top: 10px !important;
    }

    .num_evidence, .cust_num_evidence, .cust_hunt_length, .cust_lobby_type, #map-type{
        font-size: 11px !important;
    }

    .modifier_volume, .sanity_labels{
        font-size: 10px !important;
    }

    .hunt_sanity_num, .hunt_size_label{
        font-size: 9px !important;
    }

    .reset_note, #cur_map_label, .modifier_note_2{
        font-size: 8px !important;
    }

    .evidence_title, .speed_title, .hunt_sanity_title, .timer_title, .modifier_title, .settings_title{
        font-size: 16px !important;
    }

    .less_pad{
        padding-top: 5px !important;
    }

    .ghost_name{
        font-weight: lighter !important;
    }

    .ghost_tests_button{
        margin: -5px 0px 0px 0px !important;
    }

    .ghost_behavior_item li{
        font-weight: lighter !important;
    }

    .ghost_evidence_item{
        padding: 2px 5px !important;
    }

    .data{
        grid-template-columns: 230px auto !important;
    }

    .label{
        letter-spacing: 1px;
    }

    #kofi{
        width: 40% !important;
        max-width: 72px !important;
    }

    #active-users{
        margin-left: calc(40% - 10px) !important;
    }

    .copyright{
        margin-left: calc(40% - 10px) !important;
        font-size: 8px !important;
    }

    #settings_box, #links_box, #data_link_box, #event_box, #wiki_box {
        width: 219px;
    }

    #maps_box{
        min-width: 607px !important;
    }

    #game_mode {
        font-size: 18px !important;
    }

    .data-entry{
        font-size: 9px !important;
    }

    #data_login_button, #data_unlink_button{
        padding: 6px !important;
    }

    .modifier .modifier_note{
        display: block !important;
    }

    .moving_content .modifier_note{
        text-align: center !important;
    }

    #calibrate-button{
        width: 70% !important;
    }

    #wiki-ghost-speeds .wiki_subtitle{
        width: 60%;
    }
}

/* Mobile Adjustments */
@media screen and (pointer: coarse) and (max-device-width: 600px) {

    .filter_tool_button, .tricheck, .label-font-s, .modifier_smudge_timer, .modifier_ghost_speed, .modifier_bpm_finder{
        font-size: 24px !important;
    }

    #tap, #resetMenu button, #reset, #calibrate-button, .settings_title, #game_mode span, .maps_title{
        font-size: 23px !important;
    }

    .num_evidence, .cust_num_evidence, .cust_hunt_length, .cust_lobby_type, #map-type{
        font-size: 25px !important;
    }

    .modifier_volume, .sanity_labels{
        font-size: 30px !important;
    }

    .hunt_sanity_num, .hunt_size_label{
        font-size: 20px !important;
    }

    .reset_note, #cur_map_label, .modifier_note_2{
        font-size: 8px !important;
    }

    .evidence_title, .speed_title, .hunt_sanity_title, .timer_title, .modifier_title, .settings_title{
        font-size: 30px !important;
    }

    .ghost_name{
        font-size: 44px !important;
        margin-bottom: -4px !important;
        margin-top: 4px !important
    }

    .ghost_evidence_item{
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: left;
    }

    .label-font-s{
        font-size: 18px !important;
    }

    .copyright{
        max-width: 25% !important;
        margin-left: calc(75% - 10px) !important;
        text-align: right !important;
    }

    #reset{
        font-size: 26px !important;
        letter-spacing: -1px;
    }

    .modifier .modifier_note{
        font-size: 23px !important;
        padding-top: 0 !important;
        display: block !important;
    }

    #data_link_tab{
        height: 260px !important;
    }

    #event_tab{
        top: 1095px !important;
    }

    #wiki_tab{
        top: 633px !important;
    }

    #maps_tab{
        top: 863px !important;
    }
}