@font-face {
    font-family: 'October Crow';
    src: url('fonts/october_crow.ttf');
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background: none 
}

::-webkit-scrollbar-thumb {
    background: #888; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

body{
    background-image: url(../imgs/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

hr{
    border: 1px dashed rgba(204, 204, 204, 0.26);
    margin: 5px;
    width: 90%;
}

.title{
    font-size: 30px;
    padding-top: 20px;
}

.phasfont{
    font-family:"October Crow";
    letter-spacing: 1;
}

.white{
    color: white;
}

@media screen and (min-device-width: 1000px) {

    #blackout{
        position: fixed;
        background: rgba(0,0,0,0.9);
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        z-index: 110;
    }

    #settings_box{
        position: fixed;
        top: 0;
        z-index: 1;
        width: 200px;
        height: 100%;
        background-color: #363c44;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: stretch;
        align-items: flex-start;
        color: #fff;
        padding: 5px 8px 5px 20px;
        font-size: 14px;
        transition: left 0.5s ease;
    }

    #settings_tab{
        position: absolute;
        transform: rotate(-90deg);
        top: 20px;
        right: -43px;
        background-color: #363c44;
        padding: 5px;
        cursor: pointer;
    }

    #discord_link_box{
        position: fixed;
        top: 0;
        z-index: 0;
        width: 200px;
        height: 100%;
        background-color: #363c44;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: stretch;
        align-items: flex-start;
        color: #fff;
        padding: 5px 8px 5px 20px;
        font-size: 14px;
        transition: left 0.5s ease;
    }

    #discord_link_tab{
        position: absolute;
        transform: rotate(-90deg);
        top: 97px;
        right: -56px;
        background-color: #363c44;
        padding: 5px;
        cursor: pointer;
    }

    #event_box{
        position: fixed;
        top: 0;
        z-index: 0;
        width: 350px;
        height: 100%;
        background-color: #363c44;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: stretch;
        align-items: flex-start;
        color: #fff;
        padding: 5px 8px 5px 20px;
        font-size: 14px;
        transition: left 0.5s ease;
    }

    #event_tab{
        position: absolute;
        transform: rotate(-90deg);
        top: 193px;
        right: -61px;
        background-color: #363c44;
        padding: 5px;
        cursor: pointer;
    }

    .settings_title{
        font-size: 20px;
        margin: 2px 0px 10px 0px;
    }

    #settings_box .icon, #discord_link_box .icon, #event_box .icon{
        position: absolute;
        top: 5px;
        right: 4px;
        width: 23px;
        height:23px;
        -ms-transform: rotate(45deg); /* IE 9 */
        -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
        transform: rotate(45deg);
        cursor: pointer;
    }

    #settings_box .icon:before, #discord_link_box .icon:before, #event_box .icon:before{
        content:"";
        position: absolute;
        width:3px;
        height:15px;
        background-color:#fff;
        left:10px;
        top:4px;
    }

    #settings_box .icon:after, #discord_link_box .icon:after, #event_box .icon:after{
        content:"";
        position: absolute;
        width:15px;
        height:3px;
        background-color:#fff;
        left:4px;
        top:10px;
    }

    #settings_box .info_block, #discord_link_box .info_block, #event_box .info_block{
        display: flex;
        flex-direction: column;
        z-index: 2;
        box-shadow: inset 0 0 10px #161615;
        background: rgba(0,0,0,0.25);
        align-items: center;
        width: 100%;
        padding-bottom: 20px;
        user-select: none;
        overflow-y: scroll;
        overflow-x: hidden;
        margin-bottom: 13px;
    }

    #speed_offset{
        font-size: 20px;
        margin-top: 5px;
        font-weight: bold;
    }

    .speed_icon{
        display: inline-block;
        background: #FFF;
        border-radius: 15px;
        color: #444;
        width: 25px;
        height: 25px;
        text-align: center;
        margin: 0;
        padding: 0;
        cursor: pointer;
    }

    .speed_icon:hover{
        background-color: #747474;
    }

    #info_box{
        z-index: 100;
        width: 600px;
        height: auto;
        max-height: calc(100vh - 100px);
        background-color: #363c44;
        border-radius: 5px;  
        display: flex;
        flex-direction: column;
        position: relative;
        flex-wrap: nowrap;
        align-content: stretch;
        align-items: flex-start;
        color: #fff;
        padding: 20px;
        overflow-y: scroll;
        font-size: 14px;
    }

    #info_box .icon{
        position: absolute;
        top: 10px;
        right: 10px;
        width: 23px;
        height:23px;
        -ms-transform: rotate(45deg); /* IE 9 */
        -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
        transform: rotate(45deg);
        cursor: pointer;
    }

    #info_box .icon:before{
        content:"";
        position: absolute;
        width:3px;
        height:15px;
        background-color:#fff;
        left:10px;
        top:4px;
    }

    #info_box .icon:after{
        content:"";
        position: absolute;
        width:15px;
        height:3px;
        background-color:#fff;
        left:4px;
        top:10px;
    }

    #info_box h3{
        margin-bottom: 8px;
    }

    #info_box .info_block{
        font-family: 'Courier New', Courier, monospace;
        box-shadow: inset 0 0 10px #161615;
        background: rgba(0,0,0,0.25);
        padding: 10px;
        height: fit-content;
        font-size: 12px;
    }

    #info_box .info_block hr{
        width: calc(100% - 10px);
        margin-top: 15px;
        margin-bottom: 15px;
    }

    #info_box .info_text{
        margin-left: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
    }

    #info_box .info_image_text{
        margin-left: 10px;
        display: grid;
        align-content: center;
        grid-template-columns: 80px auto;
        align-items: center;
    }

    .info_image_text img{
        padding-right: 20px;
        height: 60px;
        filter: drop-shadow(2px 2px 2px black);
        position: relative;
        z-index: -1;
    }

    #info_box .copyright_text{
        margin-top: 25px;
        text-align: center;
        align-self: center;
        font-size: 11px;
    }

    input[type="range"] {
        margin-left: 0;
        -webkit-appearance: none;
        margin: 10px 0px;
    }
    input[type=range]:focus {
        outline: none;
    }
    input[type=range]::-webkit-slider-runnable-track {
        width: 100%;
        height: 5px;
        cursor: pointer;
        animate: 0.2s;
        box-shadow: 0px 0px 0px #000000;
        background: #00aa2b;
        border-radius: 1px;
        border: 0px solid #000000;
    }
    input[type=range]::-webkit-slider-thumb {
        box-shadow: 0px 0px 0px #000000;
        border: 1px solid #00aa2b;
        height: 18px;
        width: 18px;
        border-radius: 25px;
        background: #8ad69d;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -7px;
    }
    input[type=range]:focus::-webkit-slider-runnable-track {
        background: #00aa2b;
    }
    input[type=range]::-moz-range-track {
        width: 100%;
        height: 5px;
        cursor: pointer;
        animate: 0.2s;
        box-shadow: 0px 0px 0px #000000;
        background: #00aa2b;
        border-radius: 1px;
        border: 0px solid #000000;
    }
    input[type=range]::-moz-range-thumb {
        box-shadow: 0px 0px 0px #000000;
        border: 1px solid #00aa2b;
        height: 18px;
        width: 18px;
        border-radius: 25px;
        background: #8ad69d;
        cursor: pointer;
    }
    input[type=range]::-ms-track {
        width: 100%;
        height: 5px;
        cursor: pointer;
        animate: 0.2s;
        background: transparent;
        border-color: transparent;
        color: transparent;
    }
    input[type=range]::-ms-fill-lower {
        background: #00aa2b;
        border: 0px solid #000000;
        border-radius: 2px;
        box-shadow: 0px 0px 0px #000000;
    }
    input[type=range]::-ms-fill-upper {
        background: #00aa2b;
        border: 0px solid #000000;
        border-radius: 2px;
        box-shadow: 0px 0px 0px #000000;
    }
    input[type=range]::-ms-thumb {
        margin-top: 1px;
        box-shadow: 0px 0px 0px #000000;
        border: 1px solid #00aa2b;
        height: 18px;
        width: 18px;
        border-radius: 25px;
        background: #8ad69d;
        cursor: pointer;
    }
    input[type=range]:focus::-ms-fill-lower {
        background: #00aa2b;
    }
    input[type=range]:focus::-ms-fill-upper {
        background: #00aa2b;
    }

    .header{
        grid-column: 1;
        grid-row: 1 / 10;
        background-color: #363c44;
        margin: -8px;
        box-shadow: 5px 0px 10px 0px #000;
        z-index: 1;
    }

    .footer{
        display: none;
    }


    .data{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 180px auto;
        grid-template-rows: 32px 240px 40px 100px 40px auto 55px 20px 20px;
    }

    .evidence_title{
        grid-column: 1;
        grid-row: 1;
        font-size: 20px;
        z-index: 2;
    }

    .num_evidence{
        border: none;
        color: #FFF;
        background: rgba(0,0,0,0.25);
        box-shadow: inset 0 0 10px #161615;
        height: 25px;
        font-size: 16px;
        padding: 0px 3px;
        padding-top: 1px;
        font-family: 'October Crow';
        float: right;
        cursor: pointer;
    }

    #game_mode{
        grid-column: 1;
        grid-row: 2;
        font-size: 24px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 4;
        box-shadow: inset 0 0 10px #161615;
        background: rgba(0,0,0,0.90);
        position: relative;
    }

    #game_mode span{
        font-size:15px;
    }

    .evidence{
        grid-column: 1;
        grid-row: 2;
        font-size: 30px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        z-index: 2;
        box-shadow: inset 0 0 10px #161615;
        background: rgba(0,0,0,0.25);
    }

    .speed_title{
        grid-column: 1;
        grid-row: 3;
        font-size: 20px;
        z-index: 2;
        margin-top: 8px;
    }

    .speed{
        grid-column: 1;
        grid-row: 4;
        font-size: 30px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        z-index: 2;
        box-shadow: inset 0 0 10px #161615;
        background: rgba(0,0,0,0.25);
    }

    .modifier_title{
        grid-column: 1;
        grid-row: 5;
        font-size: 20px;
        z-index: 2;
        margin-top: 8px;
    }

    .modifier{
        grid-column: 1;
        grid-row: 6;
        font-size: 30px;
        text-align: center;
        display: flex;
        flex-direction: column;
        z-index: 2;
        box-shadow: inset 0 0 10px #161615;
        background: rgba(0,0,0,0.25);
        align-items: center;
        overflow-y: scroll;
        overflow-x: hidden;
        padding-bottom: 13px;
    }

    .modifier_ghost_speed{
        font-size: 16px;
        padding: 10px 10px 0px 10px;
    }

    .modifier_smudge_timer{
        font-size: 16px;
        padding: 10px;
    }

    #ghost_modifier_speed, #modifier_volume{
        width: 90%;
        margin-left: 2%;
        background: none;
    }

    .modifier_ghost_speed_labels{
        display: flex;
        justify-content: space-between;
        width: 92%;
        padding-top: 2px;
    }

    .modifier_ghost_speed_label{
        color: #fff;
        font-size: 10px;
        rotate: 320deg;
    }

    .modifier_note{
        color: #999;
        font-size: 10px;
        padding-top: 10px;
        margin: 0px 10px;
    }

    .modifier_note_2{
        color: #999;
        font-size: 10px;
    }

    .timer_div{
        width: 100%;
    }

    .modifier_sound_select{
        display: flex;
        padding-top: 10px;
    }

    .modifier_sound_select img{
        height: 20px;
        filter: invert(1);
        padding: 0px 5px;
    }

    #modifier_sound_type {
        display: none;
    }

    .speed_logic_select{
        font-size: 12;
        display: flex;
        padding-top: 5px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .speed_logic_select span{
        align-self: center;
        margin: 0px 5px;
    }

    #speed_logic_type {
        display: none;
    }

    .toggle {
        height: 15px;
        width: 40px;
        border-radius: 10px;
        box-shadow: inset 0 0 10px #161615;
        background: rgba(0,0,0,0.25);
        position: relative;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        margin-top: 3px;
    }
    
    .toggle::before {
        content: "";
        height: 15px;
        width: 15px;
        position: absolute;
        left: 0;
        border-radius: 50%;
        background-color: #f4f4f4;
        transition: all 0.2s ease-in-out;
    }

    #speed_logic_type:checked + .toggle::before {
        position: absolute;
        left: calc(100% - 15px);
    }
    
    #modifier_sound_type:checked + .toggle::before {
        position: absolute;
        left: calc(100% - 15px);
    }

    .play_button {
        filter: invert(1);
        opacity: 1;
        cursor: pointer;
        position: relative;
        width: 28px;
        float: left;
    }
      
    .play_button:hover {
        opacity: 0.5;
    }

    #time_left{
        color: #fff;
        width: calc(100% - 20px);
        font-size: 12px;
        text-align: end;
        position: relative;
        padding: 0px 10px;
        margin-top: -5px;
    }

    #progress {
        margin: 0px 10px;
        width: calc(100% - 20px);
        position: relative;
    }

    #progressBar {
        width: calc(100% - 32px);
        margin: 11px 0px 11px 4px;
        height: 6px;
        box-shadow: inset 0 0 10px #161615;
        background: rgba(0,0,0,0.25);
        display: inline-block;
        position: relative;
    }
      
    #progressBar .bar {
        height: 6px;
        text-align: right;
        line-height: 6px;
        width: 0;
        background-color: #00aa2b;
        box-sizing: border-box;
        position: absolute;
        float: left;
    }

    #progressBar .demon_line {
        height: 8px;
        border-left: 1px #fff dotted;
        left: 66.666%;
        width: 0;
        top: -2px;
        position: absolute;
        float: left;
    }

    #progressBar .ghost_line {
        height: 10px;
        border-left: 1px #fff solid;
        left: 50%;
        width: 0;
        top: -2px;
        position: absolute;
        float: left;
    }

    #progressBar .spirit_line {
        height: 8px;
        border-left: 1px #fff dotted;
        width: 0;
        top: -2px;
        position: absolute;
        float: left;
    }

    .line_labels{
        display: block;
        width: calc(100% - 49px);
        height: 6px;
        margin: 0px 10px 0px 29px;
        text-align: left;
        position: relative;
    }

    .spirit_line_label{
        color: rgb(145, 145, 145);
        font-size: 10px;
        display: inline-block;
        left: 9px;
        bottom: -6px;
        position: absolute;
    }

    .demon_line_label{
        color: rgb(145, 145, 145);
        font-size: 10px;
        display: inline-block;
        left: 71.666%;
        bottom: -6px;
        position: absolute;
    }

    .modifier_volume{
        font-size: 16px;
        padding: 10px 10px 0px 10px;
    }

    .modifier_volume_labels{
        display: flex;
        justify-content: space-between;
        width: 92%;
        padding-top: 2px;
    }

    .modifier_volume_label{
        color: #fff;
        font-size: 11px;
        rotate: 320deg;
        padding-bottom: 5px;
    }

    .cards{
        grid-column: 2;
        grid-row: 1 / 10;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        overflow-y: scroll;
        align-content: flex-start;
        user-select: none;
        background: rgba(0,0,0,0.5);
        padding-bottom: 30px;
        margin: -8px -8px -8px 8px;
    }

    .copyright{
        grid-column: 1;
        grid-row: 9;
        text-align: center;
        z-index: 2;
        color: rgb(173, 173, 173);
        font-size: 10px;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        padding-right: 10px;
    }

    .copyright img{
        height: 16px;
        filter: invert(1);
        padding: 0px 5px;
    }

    .copyright:hover{
        filter: opacity(0.5)
    }

    .active_title,.maps_title,.info_title{
        font-size: 24px;
        height:24px;
        padding: 10px;
    }

    .map_toggle{
        grid-column: 1;
        grid-row: 5;
        z-index: 3;
        text-align: right;
    }

    .map_icon{
        filter: invert(1);
        height: 90%;
        margin-top: 0px;
        cursor: pointer;
    }
    .map_icon:hover{
        filter: invert(0);
    }

    .maps_image{
        width: calc(100% - 60px);
        height: calc(100% - 260px);
        margin: 0px 30px 30px 30px;
        background-color: #000;
        overflow: hidden;
        position: relative;
        cursor: zoom-in;
    }

    .map_image{
        width: 100%;
        height: 100%;
        background-color: #000;
        background-image: url(../imgs/maps/tanglewood.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
    }

    .hover_zoom{
        color: white;
        position: absolute;
        background: rgba(255,255,255,0.2);
        padding: 5px;
        font-size: 11px;
        border-radius: 10px;
        filter: opacity(0.8);
        bottom: 5px;
        left: 5px;
    }

    .maps_credit{
        color: #FFF;
        text-align: right;
        position: absolute;
        bottom: 205px;
        right: 35px;
        font-size: 10px;
    }

    .maps_credit a{
        text-decoration: none;
        color:#00aa2b
    }

    .maps_buttons{
        display: flex;
        height: 158px;
        width: calc(100% - 60px);
        margin: 0px 30px 30px 30px;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: stretch;
    }

    .maps_button{
        cursor: pointer;
        border: 1px solid #FFF;
        border-radius: 5px;
        margin: 3px;
    }

    .selected_map{
        background-color: #00aa2b;
        border: 1px solid #00aa2b;
        color: #FFF;
    }

    .maps_button:hover{
        background-color: #363c44;
        color: #FFF;
    }

    #active-users{
        grid-column: 1;
        grid-row: 8;
        text-align: center;
        z-index: 2;
        font-size: 9px;
        padding-top: 5px;
        z-index: 50;
    }

    #active-users-label{
        cursor: pointer;
        color: #0abdce;
    }

    #active-users-label:hover{
        color: #c9870c;
    }

    #current-version-label{
        color: #0abdce;
    }

    #session{
        color: rgb(26, 26, 26);
        font-size: 8px;
        padding-top: 10px;
        text-align: center;
        align-self: center;
        width: 100%;
    }

    #reset{
        grid-column: 1;
        grid-row: 7;
        width: 100%;
        justify-self: center;
        font-size: 20px;
        color: #000;
        background-color: #ccc;
        font-family: "October Crow";
        border: none;
        border-radius: 5px;
        padding: 10px;
        margin: 5px;
        cursor: pointer;
        z-index: 100;
    }

    #maps{
        position: absolute;
        z-index: 100;
        width: calc(100% - 100px);
        height: calc(100vh - 100px);
        top:50px;
        left:50px;
        background-color: #363c44;
        border-radius: 5px;
        box-shadow: 0 0 50px 50px #000;
    }

    #world{
        position: absolute;
        z-index: 100;
        width: calc(100% - 100px);
        height: calc(100vh - 100px);
        top:50px;
        left:50px;
        background-color: #363c44;
        border-radius: 5px;
        box-shadow: 0 0 50px 50px #000;
    }

    #world .icon, #maps .icon{
        position: absolute;
        top: 10px;
        right: 10px;
        width: 23px;
        height:23px;
        -ms-transform: rotate(45deg); /* IE 9 */
        -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
        transform: rotate(45deg);
        cursor: pointer;
    }

    #world .icon:before, #maps .icon:before{
        content:"";
        position: absolute;
        width:3px;
        height:15px;
        background-color:#fff;
        left:10px;
        top:4px;
    }

    #world .icon:after, #maps .icon:after{
        content:"";
        position: absolute;
        width:15px;
        height:3px;
        background-color:#fff;
        left:4px;
        top:10px;
    }

    #world .icon:before:hover, #maps .icon:before:hover{
        background-color: #363c44;
    }

    #world .icon:after:hover, #maps .icon:before:hover{
        background-color: #363c44;
    }

    #globe{
        width: calc(100% - 60px);
        height: calc(100% - 74px);
        margin: 0px 30px 30px 30px;
        box-shadow: inset 0 0 200px 200px #000000;
        background: rgba(0,0,0,0.25);
        background-image: url(../imgs/globe-background.jpg);
        background-size: cover;
        border-radius: 5px;
    }

    .ghost_card{
        display: grid;
        width: 515px;
        border-radius: 5px;
        grid-template-columns: 215px 300px;
        color: white;
        background-color: #363c44;
        margin: 20px 5px 0px 5px;
        height: 125px;
        overflow: hidden;
        position: relative;
    }

    .ghost_name{
        grid-column: 1;
        grid-row: 1;
        font-family:"October Crow";
        font-size: 24px;
        font-weight: bold;
        padding:10px;
        text-align: center;
        letter-spacing: 2px;
    }

    .ghost_evidence{
        grid-column: 1;
        grid-row: 2;
        font-size: 12px;
        text-align: center;
    }

    .ghost_nightmare_evidence{
        display: none;
    }
    
    .ghost_speed{
        grid-column: 1;
        grid-row: 3;
        font-size: 14px;
        padding:10px 20px;
        text-align: center;
    }

    .ghost_hunt{
        position: absolute;
        bottom: -7px;
        left: -20px;
        width: 60px;
        height: 30px;
        padding-top: 3px;
        -webkit-transform: rotate(45deg);
        font-size: 12px;
        text-align: center;
        box-shadow: inset 0 0 10px #161615;
    }

    .ghost_behavior{
        grid-column: 2;
        grid-row: 1 / 4;
        padding:10px 20px;
        margin-left: 2px;
        margin-right: 30px;
        box-shadow: inset 0 0 10px #161615;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-start;
        overflow-y: scroll;
        background: rgba(0,0,0,0.25);
        margin-top: 1px;
        margin-bottom: 1px;
        z-index: 0;
    }
    
    .ghost_behavior_item{
        line-height: 18px;
        font-size: 12px;
    }

    .ghost_clear{
        grid-column: 2;
        grid-row: 1 / 4;
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: flex-end;
        padding-right: 3px;
        flex-direction: column;
    }
    
    .ghost_clear .icon{
        display:inline-block;
        width: 25px;
        height:25px;
        -ms-transform: rotate(45deg); /* IE 9 */
        -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
        transform: rotate(45deg);
        cursor: pointer;
    }
    
    .ghost_clear .icon:before{
        content:"";
        position: absolute;
        width:3px;
        height:17px;
        background-color:rgb(29, 29, 29);
        left:11px;
        top:4px;
    }
    
    .ghost_clear .icon:after{
        content:"";
        position: absolute;
        width:17px;
        height:3px;
        background-color:rgb(29, 29, 29);
        left:4px;
        top:11px;
    }
    
    .ghost_clear .check{
        display:inline-block;
        width: 25px;
        height:25px;
        -ms-transform: rotate(45deg); /* IE 9 */
        -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
        transform: rotate(45deg);
        cursor: pointer;
    }
    
    .ghost_clear .check:before{
        content:"";
        position: absolute;
        width:3px;
        height:13px;
        background-color:rgb(29, 29, 29);
        left:15px;
        top:5px;
    }
    
    .ghost_clear .check:after{
        content:"";
        position: absolute;
        width:8px;
        height:3px;
        background-color:rgb(29, 29, 29);
        left:10px;
        top:16px;
    }

    .space{
        height:30px;
    }
}


.ghost_clear .icon:hover:before{
    background-color:rgb(255, 255, 255);
}

.ghost_clear .icon:hover:after{
    background-color:rgb(255, 255, 255);
}

.ghost_clear .check:hover:before{
    background-color:rgb(255, 255, 255);
}

.ghost_clear .check:hover:after{
    background-color:rgb(255, 255, 255);
}

.sg{
    color:rgb(161, 170, 170);
    font-size: smaller;
}
li{
    padding-bottom: 10px;
}
table{
    width: 49%;
    min-width: 400px;
    display: inline-flex;
}
input{
    margin-left: 30px;
}
.hidden{
    display: none !important;
}
.permhidden{
    display: none !important;
}
.faded{
    /*display: none;*/
    opacity: 0.3;
}

@media screen and (min-device-width: 1000px) {
    .tricheck{
        border: 0;
        background:none;
        position: relative;
        margin: 4px 0px;
        cursor: pointer;
        font-size: 16px;
        letter-spacing: 1.5;
        display: grid;
        justify-content: start;
    }

    #checkbox{
        grid-column: 1;
        width: 20px;
        height: 20px;
        cursor: pointer;
        margin-right: 10px;
        border-radius: 5px;
    }

    .neutral{
        background-color: #ccc;
    }

    .neutral:hover{
        background-color: rgb(110, 110, 110);
    }

    .block{
        cursor: not-allowed !important;
    }

    .disabled, .disabled:hover{
        background-color: #363c44;
    }

    .disabled .icon{
        background: #171a1f;
        border-radius: 2px;
        width: 14px;
        height: 10px;
        top: 9px;
        left: 9px;
        position: absolute;
    }
    
    .disabled .icon:before {
        content: "";
        display: block;
        position: absolute;
        border:2px solid #171a1f;
        top: -6px;
        left: 2px;
        width: 6px;
        height: 7px;
        border-radius: 35px 35px 0 0;
    }

    .disabled-text{
        color: #363c44;
    }

    .good{
        background-color: #00aa2b;
    }

    .good .icon{
        display:inline-block;
        width: 23px;
        height:17px;
        -ms-transform: rotate(45deg); /* IE 9 */
        -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
        transform: rotate(45deg);
    }

    .good .icon:before{
        content: "";
        position: absolute;
        width: 3px;
        height: 13px;
        background-color: #fff;
        left: 12px;
        top: 3px;
    }

    .good .icon:after{
        content: "";
        position: absolute;
        width: 5px;
        height: 3px;
        background-color: #fff;
        left: 7px;
        top: 13px;
    }

    .bad{
        background-color: rgb(180, 0, 36);
    }

    .bad .icon{
        display:inline-block;
        width: 24px;
        height:17px;
        -ms-transform: rotate(45deg); /* IE 9 */
        -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
        transform: rotate(45deg);
    }

    .bad .icon:before{
        content:"";
        position: absolute;
        width:3px;
        height:15px;
        background-color:#fff;
        left:10px;
        top:4px;
    }

    .bad .icon:after{
        content:"";
        position: absolute;
        width:15px;
        height:3px;
        background-color:#fff;
        left:4px;
        top:10px;
    }
}

@media screen and (max-device-width: 999px) {
    .tricheck{
        border: 0;
        width: 25%;
        background:none;
        position: relative;
        margin: 8px 0px;
        cursor: pointer;
        font-size: 35px;
        display: grid;
        justify-content: start;
    }

    #checkbox{
        grid-column: 1;
        width: 35px;
        height: 35px;
        cursor: pointer;
        margin-right: 10px;
        border-radius: 5px;
    }

    .neutral{
        background-color: #ccc;
    }

    .neutral:hover{
        background-color: rgb(110, 110, 110);
    }

    .block{
        cursor: not-allowed !important;
    }

    .disabled, .disabled:hover{
        background-color: #363c44;
    }

    .disabled .icon{
        background: #171a1f;
        border-radius: 3px;
        width: 20px;
        height: 12px;
        top: 18px;
        left: 13px;
        position: absolute;
    }
    
    .disabled .icon:before {
        content: "";
        display: block;
        position: absolute;
        border:2px solid #171a1f;
        top: -13px;
        left: 3px;
        width: 10px;
        height: 11px;
        border-radius: 35px 35px 0 0;
    }

    .disabled-text{
        color: #363c44;
    }

    .good{
        background-color: #00aa2b;
    }

    .good .icon{
        display:inline-block;
        width: 35px;
        height:35px;
        -ms-transform: rotate(45deg); /* IE 9 */
        -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
        transform: rotate(45deg);
    }

    .good .icon:before{
        content:"";
        position: absolute;
        width:6px;
        height:24px;
        background-color:#fff;
        left:16px;
        top:2px;
    }

    .good .icon:after{
        content:"";
        position: absolute;
        width:14px;
        height:6px;
        background-color:#fff;
        left:9px;
        top:19px;
    }

    .bad{
        background-color: rgb(180, 0, 36);
    }

    .bad .icon{
        display:inline-block;
        width: 35px;
        height:35px;
        -ms-transform: rotate(45deg); /* IE 9 */
        -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
        transform: rotate(45deg);
    }

    .bad .icon:before{
        content:"";
        position: absolute;
        width:6px;
        height:25px;
        background-color:#fff;
        left:14px;
        top:4px;
    }

    .bad .icon:after{
        content:"";
        position: absolute;
        width:25px;
        height:6px;
        background-color:#fff;
        left:4px;
        top:14px;
    }
}

.label{
    grid-column: 2/6;
    text-align: left;
}

.strike{
    text-decoration: line-through;
}

.average{
    color:#FFF;
    background: rgba(0,0,0,0.25);
}

.low{
    color:rgb(180, 255, 180);
    background: rgba(0,75,0,0.25);
}

.high{
    color:rgb(255, 180, 180);
    background: rgba(75, 0, 0, 0.25);
}

.sound{
    cursor: pointer;
    transition: transform .5s;
}

.sound:hover { 
    transform: scale(2); 
}

#reset:hover{
    color: #ffffff;
    background-color: #393e44;
}

.selected {
    background-color: #353 !important;
}

.dot-flashing {
    top: calc(50% - 5px);
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #363c44;
    color: #363c44;
    animation: dotFlashing 1s infinite linear alternate;
    animation-delay: .5s;
}

.dot-flashing::before, .dot-flashing::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
}

.dot-flashing::before {
    left: -15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #363c44;
    color: #363c44;
    animation: dotFlashing 1s infinite alternate;
    animation-delay: 0s;
}

.dot-flashing::after {
    left: 15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #363c44;
    color: #363c44;
    animation: dotFlashing 1s infinite alternate;
    animation-delay: 1s;
}

@keyframes dotFlashing {
    0% {
        background-color: #363c44;
    }
    50%,
    100% {
        background-color: #161615;
    }
}
  