@media screen and (pointer: coarse) and (max-device-width: 600px) {

    #blackout, #blackout_voice{
        position: fixed;
        background: rgba(0,0,0,0.9);
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        z-index: 110;
    }

    #settings_box{
        position: fixed;
        top: 0;
        width: 60%;
        height: 100%;
        background-color: #313248;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: stretch;
        align-items: flex-start;
        color: #fff;
        padding: 5px 20px 38px 20px;
        font-size: 40px;
        transition: left 0.5s ease;
    }

    .less_pad{
        padding-top: 10px !important;
    }

    .settings_check{
        margin-left: 0 !important;
        height: 26px;
        width: 26px;
        margin-right: 10px;
        cursor: pointer;
    }

    #settings_tab{
        position: absolute;
        transform: rotate(-90deg);
        height: 40px;
        width: 200px;
        text-align: center;
        top: 96px;
        right: -132px;
        background-color: #313248;
        padding: 5px;
        cursor: pointer;
        border-style: solid;
        border-color: #ccc;
        border-width: 0px 3px 3px 3px;
        border-radius: 0px 0px 20px 20px;
        font-size: 30px;
    }

    #settings_status, #discord_link_status{
        width: 10px;
        height: 50px;
        border-radius: 0px 0px 20px 0px;
        top: 0px;
        right: 0px;
        position: absolute;
    }

    #dllink_status{
        width: 10px;
        height: 50px;
        border-radius: 0px 0px 0px 0px;
        top: 0px;
        right: 12px;
        position: absolute;
    }

    #voice_recognition_status{
        background-size: cover;
        background-repeat: no-repeat;
        transform: rotate(90deg);
        width: 30px;
        height: 30px;
        top: 9px;
        left: 6px;
        position: absolute;
        
    }

    .pulse_animation{
        animation: mic_pulse 3s infinite;
    }

    @keyframes mic_pulse{
        0% {
            filter: opacity(1);
            -webkit-filter: opacity(1);
        }
        50% {
            filter: opacity(0.5);
            -webkit-filter: opacity(0.3);
        }
        100% {
            filter: opacity(1);
            -webkit-filter: opacity(1);
        }
    }

    .connected{
        background: #2ccc29;
    }

    .pending{
        background: #b5c710;
    }

    .error{
        background: #db4d48;
    }

    .download{
        position: absolute;
        right: 0;
        bottom: 0;
    }

    .download_icon{
        width: 20px;
        cursor: pointer;
    }

    .download_icon:hover{
        filter: opacity(0.5);
    }

    #discord_link_box{
        position: fixed;
        top: 0;
        width: 60%;
        height: 100%;
        background-color: #313248;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: stretch;
        align-items: flex-start;
        color: #fff;
        padding: 5px 20px 38px 20px;
        font-size: 40px;
        transition: left 0.5s ease;
    }

    #discord_link_tab{
        position: absolute;
        transform: rotate(-90deg);
        height: 40px;
        width: 200px;
        text-align: center;
        top: 325px;
        right: -132px;
        background-color: #313248;
        padding: 5px;
        cursor: pointer;
        border-style: solid;
        border-color: #ccc;
        border-width: 0px 3px 3px 3px;
        border-radius: 0px 0px 20px 20px;
        font-size: 30px;
    }

    #event_box{
        position: fixed;
        top: 0;
        width: 60%;
        height: 100%;
        background-color: #313248;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: stretch;
        align-items: flex-start;
        color: #fff;
        padding: 5px 20px 38px 20px;
        font-size: 40px;
        transition: left 0.5s ease;
        transform: translateZ(0);
        -webkit-transform: translateZ(0);
        will-change: transform;
    }

    #event_tab{
        position: absolute;
        transform: rotate(-90deg);
        height: 40px;
        width: 200px;
        text-align: center;
        top: 555px;
        right: -132px;
        background-color: #313248;
        padding: 5px;
        cursor: pointer;
        border-style: solid;
        border-color: #ccc;
        border-width: 0px 3px 3px 3px;
        border-radius: 0px 0px 20px 20px;
        font-size: 30px;
    }

    #wiki_box{
        position: fixed;
        top: 0;
        width: 60%;
        height: 100%;
        background-color: #313248;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: stretch;
        align-items: flex-start;
        color: #fff;
        padding: 5px 20px 38px 20px;
        font-size: 40px;
        transition: left 0.5s ease;
    }

    #wiki_tab{
        position: absolute;
        transform: rotate(-90deg);
        height: 40px;
        width: 200px;
        text-align: center;
        top: 785px;
        right: -132px;
        background-color: #313248;
        padding: 5px;
        cursor: pointer;
        border-style: solid;
        border-color: #ccc;
        border-width: 0px 3px 3px 3px;
        border-radius: 0px 0px 20px 20px;
        font-size: 30px;
    }

    #guide_tab_footstep{
        background-image: url(../imgs/footsteps-bpm.png);
        width: 40px;
        height: 40px;
        background-size: cover;
        transform: rotate(90deg);
        position: absolute;
        bottom: 6px;
        left: 9px;
    }

    #maps_box{
        display: none;
    }

    #maps_tab{
        display: none;
    }

    #news_box{
        display: none;
    }

    #news_tab{
        display: none;
    }

    #lang_blackout{
        display: none;
    }

    #language_box{
        display: none;
    }

    #language_tab{
        display: none;
    }

    #discord_tab{
        display: none;
    }

    .settings_title{
        font-size: 40px;
        margin: 10px 0px 10px 0px;
    }

    #settings_box .icon, #discord_link_box .icon, #event_box .icon, #wiki_box .icon, #maps_box .icon, #news_box .icon{
        position: absolute;
        top: 11px;
        right: 15px;
        width: 45px;
        height: 45px;
        -ms-transform: rotate(45deg); /* IE 9 */
        -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
        transform: rotate(45deg);
        cursor: pointer;
    }

    #settings_box .icon:before, #discord_link_box .icon:before, #event_box .icon:before, #wiki_box .icon:before, #maps_box .icon:before, #news_box .icon:before{
        content:"";
        position: absolute;
        width:8px;
        height:40px;
        background-color:#fff;
        left:15px;
        top:0px;
    }

    #settings_box .icon:after, #discord_link_box .icon:after, #event_box .icon:after, #wiki_box .icon:after, #maps_box .icon:after, #news_box .icon:after{
        content:"";
        position: absolute;
        width:40px;
        height:8px;
        background-color:#fff;
        left:0px;
        top:15px;
    }

    #settings_box .info_block, #discord_link_box .info_block, #event_box .info_block, #wiki_box .info_block{
        display: flex;
        flex-direction: column;
        z-index: 2;
        box-shadow: inset 0 0 10px #161615;
        background: rgba(0,0,0,0.25);
        align-items: center;
        width: 100%;
        padding-bottom: 20px;
        user-select: none;
        overflow-y: scroll;
        overflow-x: hidden;
        margin-bottom: 13px;
        border-radius: 5px;
    }

    #speed_offset{
        font-size: 30px;
        margin-top: 5px;
        font-weight: bold;
    }

    .speed_icon{
        display: inline-block;
        background: #FFF;
        border-radius: 15px;
        color: #444;
        width: 35px;
        height: 35px;
        text-align: center;
        margin: 0;
        padding: 0;
        cursor: pointer;
        font-size: 32px;
    }

    #info_box, #info_box_voice{
        z-index: 100;
        width: calc(100% - 100px);
        height: calc(100% - 100px);
        background-color: #313248;
        border-radius: 5px;  
        display: flex;
        flex-direction: column;
        position: relative;
        flex-wrap: nowrap;
        align-content: stretch;
        align-items: stretch;
        color: #fff;
        padding: 20px;
        overflow-y: scroll;
        font-size: 12px;
    }

    #info_box .icon, #info_box_voice .icon{
        position: absolute;
        top: 24px;
        right: 24px;
        width: 40px;
        height:40px;
        -ms-transform: rotate(45deg); /* IE 9 */
        -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
        transform: rotate(45deg);
        cursor: pointer;
    }

    #info_box .icon:before, #info_box_voice .icon:before{
        content:"";
        position: absolute;
        width:7px;
        height:28px;
        background-color:#fff;
        left:14px;
        top:4px;
    }

    #info_box .icon:after, #info_box_voice .icon:after{
        content:"";
        position: absolute;
        width:28px;
        height:7px;
        background-color:#fff;
        left:4px;
        top:14px;
    }

    #info_box .info_block, #info_box_voice .info_block{
        font-family: 'Courier New', Courier, monospace;
        box-shadow: inset 0 0 10px #161615;
        background: rgba(0,0,0,0.25);
        padding: 10px;
        height: fit-content;
    }

    #info_box .info_block hr, #info_box_voice .info_block hr{
        width: calc(100% - 10px);
        margin-bottom: 20px;
        margin-top: 20px;
    }

    #info_box .info_text, #info_box_voice .info_text{
        margin-left: 10px;
    }

    #info_box .info_image_text{
        margin-left: 10px;
        display: grid;
        align-content: center;
        grid-template-columns: 140px auto;
        align-items: center;
    }

    .info_image_text img{
        margin-right: 20px;
        max-height: 120px;
        max-width: 120px;
        filter: drop-shadow(5px 5px 5px black);
        position: relative;
        z-index: -1;
    }

    #info_box .copyright_text, #info_box_voice .copyright_text{
        margin-top: 20px;
        text-align: center;
        align-self: center;
        font-size: 10px;
        width: 100%;
    }

    #info_box .thankyou_text{
        color: #ffffffa0;
        margin-top: 40px;
        text-align: center;
        align-self: center;
        font-size: 9px;
        width: 100%;
    }

    input[type="range"] {
        margin-left: 0;
        -webkit-appearance: none;
        margin: 10px 0px;
    }
    input[type=range]:focus {
        outline: none;
    }
    input[type=range]::-webkit-slider-runnable-track {
        width: 100%;
        height: 10px;
        cursor: pointer;
        animate: 0.2s;
        box-shadow: 0px 0px 0px #000000;
        background: #ffffff60;
        border-radius: 1px;
        border: 0px solid #000000;
    }
    input[type=range]::-webkit-slider-thumb {
        box-shadow: 0px 0px 0px #000000;
        border: 1px solid #ffffff60;
        height: 24px;
        width: 24px;
        border-radius: 12px;
        background: #ccc;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -7px;
    }
    input[type=range]:focus::-webkit-slider-runnable-track {
        background: #ffffff60;
    }
    input[type=range]::-moz-range-track {
        width: 100%;
        height: 10px;
        cursor: pointer;
        animate: 0.2s;
        box-shadow: 0px 0px 0px #000000;
        background: #ffffff60;
        border-radius: 1px;
        border: 0px solid #000000;
    }
    input[type=range]::-moz-range-thumb {
        box-shadow: 0px 0px 0px #000000;
        border: 1px solid #ffffff60;
        height: 18px;
        width: 18px;
        border-radius: 25px;
        background: #ccc;
        cursor: pointer;
    }
    input[type=range]::-ms-track {
        width: 100%;
        height: 10px;
        cursor: pointer;
        animate: 0.2s;
        background: transparent;
        border-color: transparent;
        color: transparent;
    }
    input[type=range]::-ms-fill-lower {
        background: #ffffff60;
        border: 0px solid #000000;
        border-radius: 2px;
        box-shadow: 0px 0px 0px #000000;
    }
    input[type=range]::-ms-fill-upper {
        background: #ffffff60;
        border: 0px solid #000000;
        border-radius: 2px;
        box-shadow: 0px 0px 0px #000000;
    }
    input[type=range]::-ms-thumb {
        margin-top: 1px;
        box-shadow: 0px 0px 0px #000000;
        border: 1px solid #ffffff60;
        height: 18px;
        width: 18px;
        border-radius: 25px;
        background: #ccc;
        cursor: pointer;
    }
    input[type=range]:focus::-ms-fill-lower {
        background: #ffffff60;
    }
    input[type=range]:focus::-ms-fill-upper {
        background: #ffffff60;
    }

    .data{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto min-content;
    }

    .menu{
        grid-row: 2;
        display: grid;
        width:100%;
        grid-template-rows: 60px auto 35px 35px;
        background-color: #313248;
        margin: -8px;
        padding: 8px;
        box-shadow: 0px -15px 20px 0px #000;
        z-index: 2;   
        height: 620px;
    }

    .tools-filter-buttons{
        grid-row: 1;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
    }

    .filter_tool_button{
        cursor: pointer;
        width: 50%;
        margin-bottom: 10px;
        font-family: 'Yahfie';
        font-size: 45px;
    }

    .filter_tool_button_live{
        border-left: 1px solid #ccc;
        border-top: 1px solid #ccc;
        border-right: 1px solid #ccc;
        border-bottom: none;
        background: none;
        color: #fff;
        border-radius: 10px 10px 0px 0px;
    }

    .filter_tool_button_back{
        border-left: none;
        border-top: none;
        border-right: none;
        border-bottom: 1px solid #ccc;
        background: none;
        background-image: linear-gradient(rgba(0 0 0 / 0%), rgb(0 0 0 / 40%));
        transition: 0.3s;
        color: #aaa;
    }

    .filter_tool_button_back:hover{
        background-image: linear-gradient(rgba(0 0 0 / 0%), rgb(204 204 204 / 40%));
    }

    .tools-content{
        grid-row: 2;
        display: grid;
        width:100%;
        grid-template-rows: 50px min-content 50px auto;
    }

    .spin_hide{
        animation-name: spinhide;
        animation-duration: 150ms;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
    }

    @keyframes spinhide {
        from {
            transform: rotateY(0deg);
        }
        to{
            transform: rotateY(90deg);
        }
    }

    .spin_show{
        animation-name: spinshow;
        animation-duration: 150ms;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
    }

    @keyframes spinshow {
        from {
            transform: rotateY(270deg);
        }
        to{
            transform: rotateY(360deg);
        }
    }

    .timer_title{
        grid-column: 1;
        grid-row: 1;
        font-size: 40px;
        z-index: 2;
    }

    .timers{
        grid-column: 1;
        grid-row: 2;
        font-size: 30px;
        text-align: center;
        display: flex;
        flex-direction: row;
        z-index: 2;
        box-shadow: inset 0 0 10px #161615;
        background: rgba(0,0,0,0.25);
        align-items: center;
        border-radius: 5px;
        padding: 2px 4px 10px 4px;
        margin-bottom: 10px;
        justify-content: space-around;
    }

    .timer_block{
        width: 100%;
        padding: 0px 10px;
    }

    .timers hr{
        border: 1px dashed rgba(204, 204, 204, 0.26);
        margin: 5px;
        margin-left: -8px;
        width: 1px;
        height: 75%;
        display: block;
    }

    .filter-content{
        grid-row: 2;
        display: grid;
        width:100%;
        grid-template-rows: 60px min-content 40px min-content 40px min-content;
        overflow-x: hidden;
    }

    .evidence_title{
        grid-column: 1;
        grid-row: 1;
        font-size: 40px;
        z-index: 2;
    }

    .num_evidence{
        border: none;
        color: #FFF;
        background: rgba(0,0,0,0.25);
        box-shadow: inset 0 0 10px #161615;
        height: 45px;
        font-size: 35px;
        padding: 2px 10px;
        margin: 10px;
        font-family: 'October Crow';
    }

    #game_mode{
        grid-column: 1;
        grid-row: 2;
        font-size: 60px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 4;
        box-shadow: inset 0 0 10px #161615;
        background: rgba(0,0,0,0.90);
        position: relative;
        letter-spacing: 3px;
        margin-bottom: 22px;
    }

    #game_mode span{
        font-size:40px;
    }

    .evidence{
        grid-column: 1;
        grid-row: 2;
        font-size: 30px;
        text-align: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: flex-start;
        align-items: center;
        z-index: 2;
        box-shadow: inset 0 0 10px #161615;
        background: rgba(0,0,0,0.25);
        margin-bottom: 20px;
    }

    .speed_title{
        grid-column: 1;
        grid-row: 3;
        font-size: 40px;
        z-index: 2;
    }

    .speed{
        grid-column: 1;
        grid-row: 4;
        font-size: 30px;
        text-align: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: flex-start;
        align-items: center;
        z-index: 2;
        box-shadow: inset 0 0 10px #161615;
        background: rgba(0,0,0,0.25);
        margin-bottom: 20px;
    }

    .speed hr{
        border: 1px dashed rgba(204, 204, 204, 0.26);
        margin: 5px;
        margin-left: -8px;
        width: 1px;
        height: 75%;
        display: block;
    }

    .hunt_sanity_title{
        grid-column: 1;
        grid-row: 5;
        font-size: 40px;
        z-index: 2;
    }

    .hunt_sanity{
        grid-column: 1;
        grid-row: 6;
        font-size: 30px;
        text-align: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: flex-start;
        align-items: center;
        z-index: 2;
        box-shadow: inset 0 0 10px #161615;
        background: rgba(0,0,0,0.25);
        margin-bottom: 10px;
    }

    .hunt_sanity_num{
        color: #bbb;
        font-size: 20px;
        display: block;
        padding-top: 5px;
    }

    #modifier_sound_type {
        display: none;
    }

    .speed_logic_select{
        font-size: 25px;
        display: flex;
        padding: 5px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .speed_logic_select span{
        align-self: center;
        margin: 0px 5px;
    }

    #speed_logic_type, #bpm_type {
        display: none;
    }

    .shared_journal{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: flex-start;
        align-items: center;
    }

    #room_id, #link_id {
        border: none;
        background: rgba(0,0,0,0.25);
        box-shadow: inset 0 0 10px #161615;
        padding: 10px;
        margin: 10px 0px;
        width: 100%;
        color: white;
        font-size: 1em;
        outline: none;
        text-align: center;
    }

    .clipboard_icon{
        width: 40px;
        position: absolute;
        right: 5px;
        top: 22px;
        cursor: pointer;
        filter: opacity(0.4);
    }

    .copy_cover{
        background-color: #ffffffaa;
        color: #000000;
        position: absolute;
        top: 0;
        width: 100%;
        height: 63px;
        margin: 10px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .journal_link {
        position: relative;
        width: 75%;
    }

    .vc_link{
        width: 75%; 
        margin-top: 10px;
    }

    .journal_link_buttons{
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
    }

    .journal_link_button{
        width: 100%;
        cursor: pointer;
        border: none;
        margin: 0px 2px;
        padding: 5px;
        background: #ccc;
        font-size: 25px;
    }

    .toggle {
        height: 30px;
        width: 70px;
        border-radius: 15px;
        box-shadow: inset 0 0 10px #161615;
        background: rgba(0,0,0,0.25);
        position: relative;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        margin: 10px;
    }
    
    .toggle::before {
        content: "";
        height: 30px;
        width: 30px;
        position: absolute;
        left: 0;
        border-radius: 50%;
        background-color: #f4f4f4;
        transition: all 0.2s ease-in-out;
    }

    #speed_logic_type:checked + .toggle::before {
        position: absolute;
        left: calc(100% - 30px);
    }

    #bpm_type:checked + .toggle::before {
        position: absolute;
        left: calc(100% - 30px);
    }
    
    #modifier_sound_type:checked + .toggle::before {
        position: absolute;
        left: calc(100% - 30px);
    }

    .modifier_title{
        grid-column: 1;
        grid-row: 3;
        font-size: 40px;
        z-index: 2;
    }

    .modifier{
        grid-column: 1;
        grid-row: 4;
        font-size: 30px;
        text-align: center;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 45px 50px 50px auto;
        z-index: 2;
        box-shadow: inset 0 0 10px #161615;
        background: rgba(0,0,0,0.25);
        align-items: stretch;
        margin-bottom: 10px;
        padding-top: 10px;
    }

    .modifier hr{
        display: none;
    }

    .modifier_ghost_speed{
        font-size: 35px;
        grid-column: 1;
        grid-row: 1;
    }

    .modifier_smudge_timer{
        font-size: 35px;
        padding: 10px 10px 0px 10px;
        margin-left: -30px;
    }

    #ghost_modifier_speed{
        margin: 0px 20px;
        background: none;
        grid-column: 1;
        grid-row: 2;
    }

    #modifier_volume{
        width: 75%;
        background: none;
    }

    .modifier_ghost_speed_labels{
        grid-column: 1;
        grid-row: 3;
        display: flex;
        justify-content: space-between;
        margin: 0px 20px;
    }

    .modifier_ghost_speed_label{
        color: #fff;
        font-size: 22px;
        rotate: 340deg;
    }

    .modifier_sound_select{
        display: none;
    }

    .modifier_note{
        color: #ffffffa0;
        font-size: 21px;
        padding-top: 15px;
        margin: 0px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .modifier_note_2, .modifier_note_3{
        display:none;
    }

    .play_button {
        filter: invert(1);
        opacity: 1;
        cursor: pointer;
        position: relative;
        width: 45px;
        float: left;
        z-index: 5;
    }
      
    .play_button:hover {
        opacity: 0.5;
    }

    #time_left{
        color: #fff;
        width: calc(100% - 18px);
        font-size: 20px;
        text-align: end;
        position: relative;
    }

    #progress {
        width: calc(100% - 5px);
        position: relative;
    }

    #progressBar {
        width: calc(100% - 70px);
        margin: 20px 0px;
        height: 15px;
        box-shadow: inset 0 0 10px #161615;
        background: rgba(0,0,0,0.25);
        display: inline-block;
        position: relative;
    }
      
    #progressBar .bar {
        height: 15px;
        text-align: right;
        line-height: 15px;
        width: 0;
        background-color: #ffffff60;
        box-sizing: border-box;
        position: absolute;
        float: left;
    }

    #progressBar .demon_line {
        height: 25px;
        border-left: 5px #fff dotted;
        left: 66.666%;
        width: 0;
        top: -10px;
        position: absolute;
        float: left;
    }

    #progressBar .ghost_line {
        height: 35px;
        border-left: 5px #fff solid;
        left: 50%;
        width: 0;
        top: -10px;
        position: absolute;
        float: left;
    }

    #progressBar .spirit_line {
        height: 25px;
        border-left: 5px #fff dotted;
        width: 0;
        top: -10px;
        position: absolute;
        float: left;
    }

    .line_labels{
        display: block;
        height: 6px;
        width: calc(100% - 60px);
        margin: 0px 10px 0px 55px;
        text-align: left;
        position: relative;
        margin-top: 15px;
    }

    .spirit_line_label{
        color: rgb(145, 145, 145);
        font-size: 22px;
        display: inline-block;
        left: 5px;
        bottom: -12px;
        position: absolute;
    }

    .demon_line_label{
        color: rgb(145, 145, 145);
        font-size: 22px;
        display: inline-block;
        left: 64.666%;
        bottom: -12px;
        position: absolute;
    }

    #time_left_cooldown{
        color: #fff;
        width: calc(100% - 18px);
        font-size: 20px;
        text-align: end;
        position: relative;
    }

    #cooldownProgress {
        width: calc(100% - 5px);
        position: relative;
    }

    #cooldownProgressBar {
        width: calc(100% - 70px);
        margin: 20px 0px;
        height: 15px;
        box-shadow: inset 0 0 10px #161615;
        background: rgba(0,0,0,0.25);
        display: inline-block;
        position: relative;
    }
      
    #cooldownProgressBar .bar {
        height: 15px;
        text-align: right;
        line-height: 15px;
        width: 0;
        background-color: #ffffff60;
        box-sizing: border-box;
        position: absolute;
        float: left;
    }

    #cooldownProgressBar .demon_line {
        height: 25px;
        border-left: 5px #fff dotted;
        left: 20%;
        width: 0;
        top: -10px;
        position: absolute;
        float: left;
    }

    #cooldownProgressBar .ghost_line {
        height: 35px;
        border-left: 5px #fff solid;
        left: 0;
        width: 0;
        top: -10px;
        position: absolute;
        float: left;
    }

    .cooldown_demon_line_label{
        color: rgb(145, 145, 145);
        font-size: 22px;
        display: inline-block;
        left: 20%;
        bottom: -12px;
        position: absolute;
    }

    #tap{
        font-size: 35px;
        color: #ccc;
        border: 4px solid #ccc;
        background: none;
        border-radius: 5px;
        padding: 11px;
        cursor: pointer;
        z-index: 100;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        grid-column: 2;
        grid-row: 2 / 4;
        margin: 0px 10px;
    }

    #tap_viz{
        color: #ffffff;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 40px;
        height: 33px;
        overflow: hidden;
        margin-top: -48px;
        grid-column: 2;
        grid-row: 4;
        font-weight: bold;
        margin: 0px 10px;
    }

    .legend{
        display: none
    }

    .modifier_volume{
        font-size: 33px;
        padding: 15px 10px 10px 10px;
        grid-column: 1;
        grid-row: 5;
    }

    .modifier_volume_labels{
        display: flex;
        justify-content: space-between;
        width: 75%;
        padding-top: 2px;
    }

    .modifier_volume_label{
        color: #fff;
        font-size: 22px;
        rotate: 340deg;
    }

    .modifier_bpm_finder{
        font-size: 35px;
        grid-column: 2;
        grid-row: 1;
    }

    #bpm_hist{
        display: none;
    }

    .cards{
        grid-row: 1;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        overflow-y: scroll;
        align-content: flex-start;
        user-select: none;
        background: rgba(0,0,0,0.5);
        padding-bottom: 30px;
        padding-left: 45px;
    }

    .copyright{
        grid-column: 1;
        grid-row: 4;
        text-align: left;
        z-index: 2;
        color: #FFF;
        font-size: 19px;
        padding-right: 10px;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: left;
    }

    .copyright img{
        height: 30px;
        filter: invert(1);
        padding: 0px 10px;
    }

    .copyright:hover{
        filter: opacity(0.5)
    }

    .active_title,.info_title{
        font-size: 50px;
        height: 50px;
        padding: 15px;
    }

    .hover_zoom{
        display: none;
    }

    #active-users{
        grid-column: 1;
        grid-row: 3;
        text-align: left;
        z-index: 2;
        font-size: 18px;
        padding-top: 5px;
        padding-left: 13px;
        z-index:50;
    }

    #active-users-label{
        color: #0abdce;
    }

    #current-version-label{
        color: #0abdce;
    }
    
    #session{
        color: rgb(26, 26, 26);
        font-size: 20px;
        text-align: center;
        align-self: center;
        width: 100%;
    }

    #reset{
        grid-column: 1;
        grid-row: 3 / 5;
        width: auto;
        justify-self: right;
        font-size: 45px;
        color: #ccc;
        border: 2px solid #ccc;
        background: none;
        border-radius: 5px;
        padding: 10px;
        margin: 5px;
        cursor: pointer;
        z-index: 100;
    }

    .standard_reset:hover{
        background-color: #ffffff60 !important;
    }

    .reset_pulse{
        padding-top:5px !important;
        animation: blink 0.5s;
        animation-iteration-count: 3;
    }

    @keyframes blink { 
        50% { background-color:rgba(75, 0, 0, 0.705);}  
    }

    .reset_note{
        display: none;
    }

    .ghost_card{
        display: grid;
        width: calc(50% - 20px);
        border-radius: 5px;
        grid-template-columns: 55% 45%;
        grid-template-rows: auto 300px auto auto;
        color: white;
        background-color: #313248;
        margin-top: 20px;
        padding-top: 5px;
        height: auto;
        overflow: hidden;
        position: relative;
        align-items: center;
    }

    .ghost_name{
        grid-column: 1;
        grid-row: 1;
        font-family:"October Crow";
        font-size: 30px;
        font-weight: bold;
        padding: 10px 0px 10px 10px;
        text-align: center;
        letter-spacing: 4px;
    }

    .ghost_evidence{
        grid-column: 2;
        grid-row: 1;
        font-size: 24px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        padding: 5px 0px;
    }

    .ghost_evidence_item{
        height: fit-content;
    }

    .ghost_evidence_item img{
        height: 24px;
        padding-right: 10px;
    }

    .ghost_nightmare_evidence, .ghost_hunt_high, .ghost_hunt_low, .ghost_has_los{
        display: none;
    }

    .ghost_hunt_info{
        grid-column: 1 / 3;
        grid-row: 3;
        display: grid;
        grid-template-columns: 28% 72%;
        justify-content: space-evenly;
    }
    
    .ghost_speed{
        font-size: 22px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 25px;
        margin: 8px 8px 8px 0px;
        border-radius: 0px 10px 10px 0px;
        background: rgb(0,0,0,0.25);
        height: 60px;
    }

    .ghost_speed img{
        height: 35px;
        filter: invert(1);
    }

    .ghost_speed .ms{
        font-size: 20px;
        color: #ffffff60;
        margin-left: -3px;
    }

    .ghost_speed_values{
        width: fit-content;
    }

    .ghost_hunt{
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 25px;
        border-radius: 10px 0px 0px 10px;
        margin: 8px 0px 8px 8px;
        height: 60px;
    }

    .ghost_hunt img{
        height: 35px;
        padding-right: 5px;
    }

    .ghost_behavior{
        grid-column: 1 / 3;
        grid-row: 2;
        font-size: 18px;
        padding:10px 20px;
        margin: 10px;
        box-shadow: inset 0 0 10px #161615;
        border-radius: 10px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-start;
        overflow-y: scroll;
        background: rgba(0,0,0,0.25);
        height: calc(100% - 30px);
    }
    
    .ghost_behavior_item{
        line-height: 32px;
        font-size: 24px;
    }

    .ghost_behavior_item .dtitle{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-content: center;
        color: rgba(255 255 255 / 50%);
        justify-content: space-between;
        font-size: 18px;
        padding-top: 0;
    }

    .ghost_behavior_item .ddash{
        border-bottom: 1px dashed rgb(255 255 255 / 50%);
        flex-grow: 1;
        margin-bottom: 15px;
        margin-left: 5px;
    }

    .ghost_behavior_item ul{
        margin: 0px;
        padding: 0px 0px 0px 10px;
        list-style-type: '- ';
    }

    .ghost_behavior_item li{
        padding: 0px;
    }

    .ghost_clear{
        grid-column: 1 / 3;
        grid-row: 4;
        display: flex;
        align-content: center;
        justify-content: space-evenly;
        align-items: center;
        padding-bottom: 10px;
        flex-direction: row-reverse;
    }
    
    .card_icon{
        width: 40px;
        cursor: pointer;
    }
    
    .space{
        height:40px;
    }
}

@media screen and (pointer: coarse) and (max-device-width: 600px) {
    
    .label-font-s{
        font-size: 27px;
    }

    .tricheck{
        border: 0;
        width: 25%;
        background:none;
        position: relative;
        margin: 10px 0px;
        cursor: pointer;
        font-size: 30px;
        font-family: "Yahfie";
        display: grid;
        justify-content: start;
        letter-spacing: 3px;
        align-items: center;
    }

    .evidence-row .tricheck{
        width: 100% !important;
    }

    #checkbox{
        grid-column: 1;
        width: 35px;
        height: 35px;
        cursor: pointer;
        margin-right: 10px;
        margin-left: 10px;
        border-radius: 10px;
        border: solid 2px #ccc;
        display: flex;
        align-content: center;
        justify-content: center;
    }

    .evidence-row{
        display: flex;
        flex-wrap: nowrap;
        align-content: center;
        align-items: center;
        justify-content: space-between;
        position: relative;
        width: 25%;
    }

    .monkey-smudge{
        position: absolute;
        left: 0;
        z-index: 1;
        width: 85%;
    }

    .monkey-paw-select{
        height: 32px;
        cursor: pointer;
        margin-right: 10px;
        filter: opacity(0.2);
    }

    .monkey-paw-select:hover{
        filter: opacity(0.9);
    }

    .monkey-paw-selected{
        filter: opacity(0.9) !important;
    }

    .neutral{}

    .neutral:hover{
        background-color: #ffffff60;
    }

    .block{
        cursor: not-allowed !important;
    }

    .disabled, .disabled:hover{
        background-color: #ffffff14;
        border: solid 2px #ffffff00 !important;
    }

    .disabled .icon{
        background: #4c4e74;
        border-radius: 3px;
        width: 25px;
        height: 17px;
        top: 18px;
        left: 22px;
        position: absolute;
    }
    
    .disabled .icon:before {
        content: "";
        display: block;
        position: absolute;
        border:2px solid #4c4e74;
        top: -13px;
        left: 3px;
        width: 15px;
        height: 11px;
        border-radius: 35px 35px 0 0;
    }

    .disabled-text{
        color: #4c4e74;
    }

    .good{
        background-color: #ccc;
        border-color: #1d8100 !important;
    }

    .good .icon{
        display:inline-block;
        width: 25px;
        height:25px;
        margin-top: -6px;
        -ms-transform: rotate(45deg); /* IE 9 */
        -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
        transform: rotate(45deg);
    }

    .good .icon:before{
        content:"";
        position: absolute;
        width:7px;
        height:30px;
        background-color: #313248;
        left:20px;
        top:4px;
    }

    .good .icon:after{
        content:"";
        position: absolute;
        width:14px;
        height:7px;
        background-color: #313248;
        left:10px;
        top:26px;
    }

    .bad{
        background-color: #ccc;
        border-color: #e90000 !important;
    }

    .bad .icon{
        display:inline-block;
        width: 25px;
        height:25px;
        margin-top: -6px;
        -ms-transform: rotate(45deg); /* IE 9 */
        -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
        transform: rotate(45deg);
    }

    .bad .icon:before{
        content:"";
        position: absolute;
        width:6px;
        height:35px;
        background-color:#313248;
        left:18px;
        top:3px;
    }

    .bad .icon:after{
        content:"";
        position: absolute;
        width:35px;
        height:6px;
        background-color:#313248;
        left:4px;
        top:17px;
    }

    .footer_link{
        font-size: large;
    }

    #eye{
        display: none;
    }

    #domovoi{
        position: fixed;
        bottom: 660px;
        right: 10px;
        display: flex;
        animation: domovoi-float 2s cubic-bezier(0.1, -0.6, 0.2, 0) infinite;
        flex-direction: column;
        align-items: flex-end;
        z-index: 50;
    }

    .domovoi-flip{
        align-items: flex-start !important;
        left: 205px !important;
        animation: domovoi-float-flip 2s cubic-bezier(0.1, -0.6, 0.2, 0) infinite !important;
    }


    @keyframes domovoi-float {
        0% {
            bottom: 660px;
        }
        50% {
            bottom: 665px;
        }
        100% {
            bottom: 660px;
        }
    }

    @keyframes domovoi-float-flip {
        0% {
            bottom: 660px;
        }
        50% {
            bottom: 665px;
        }
        100% {
            bottom: 660px;
        }
    }

    #domovoi-text{
        font-family: "Yahfie";
        font-size: 35px;
        letter-spacing: 2;
        font-weight: bold;
        border-radius: 20px;
        padding: 10px;
        background-image: radial-gradient(#ffffff, #ffffff77);
        box-shadow: 0px 0px 10px 5px rgb(0 0 0);
    }

    #domovoi-img{
        height: 55px;
        cursor: pointer;
    }

    .domovoi-img-flip{
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }
}